@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?puzncg');
  src:  url('fonts/icomoon.eot?puzncg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?puzncg') format('truetype'),
    url('fonts/icomoon.woff?puzncg') format('woff'),
    url('fonts/icomoon.svg?puzncg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laptop:before {
  content: "\e907";
}
.icon-bar-chart:before {
  content: "\e909";
}
.icon-control-panel:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-save:before {
  content: "\e90c";
}
.icon-sitemap:before {
  content: "\e90d";
}
.icon-exclamation:before {
  content: "\e906";
}
.icon-car:before {
  content: "\e900";
}
.icon-conditioner:before {
  content: "\e901";
}
.icon-furniture:before {
  content: "\e902";
}
.icon-plants:before {
  content: "\e903";
}
.icon-pool:before {
  content: "\e904";
}
.icon-surface:before {
  content: "\e905";
}
.icon-C:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e90e";
}
