@import '@/assets/css/variables.scss';


.more__body{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.more__body div {
	width: 100%;
	max-width: 50%;

}
.more__body{
	margin-bottom: 75px;
}
.more__body-text{
	font-family: $fontInter;

}
.more__title{
	font-family: $fontCircular;
	font-weight: 900;
	@include adaptiv-font(72, 40);
	text-align: left;
	color: #050038;
	@include adaptiv-line-height(91, 55);
	margin-bottom: 30px;
}
.more__text{
	font-size: 20px;
	line-height: 32px;
	color: #5B5E6D;
	margin-bottom: 40px;
}
.more__button{
	padding-bottom: 3px;
	border: 0px solid #0555FF;
	border-bottom-width: 2px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	&:hover{
		color: #0555FF;
		border-color: #d5e3ff;
	}
}
.more__body-img{
	text-align: center;
}
.develop__body-img-1,.update__body-img-1{
	display: none;
}
.more__img{
	max-width: 100%;
}
@media (max-width: 800px) {
	.more__body{
		flex-direction: column;
		text-align: center;
		justify-content: center;
		padding-bottom: 20px;
	}
	.more__title, .more__text{
		text-align: center;
	}
	.more__title{
		margin-bottom: 0;
	}

	.develop__body-img-1,.update__body-img-1{
		display: block;
	}
	.develop__body-img-2,.update__body-img-2{
		display: none;
	}
	.more__body div{
		max-width: 100%;
	}

}
.more__body-text{
	margin-left: 60px;
}
@media (max-width: 800px) {
	.more__body-text{
		margin-left: 0;
	}
}
