@import "nullstyle.scss";/*подключает файлы с обнуляющим кодом*/
@import "variables.scss";/*подключает файлы с обнуляющим кодом*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@600&family=Roboto:wght@400;500&display=swap');


@font-face {
	font-family: 'Circular';
	src: url('~@/assets/fonts/CircularStd-Medium.eot');
	src: local('☺'), url('~@/assets/fonts/CircularStd-Medium.woff') format('woff'), url('~@/assets/fonts/CircularStd-Medium.ttf') format('truetype'), url('~@/assets/fonts/CircularStd-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('~@/assets/fonts/CircularStd-Bold.eot');
	src: local('☺'), url('~@/assets/fonts/CircularStd-Bold.woff') format('woff'), url('~@/assets/fonts/CircularStd-Bold.ttf') format('truetype'), url('~@/assets/fonts/CircularStd-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('~@/assets/fonts/CircularStd-Black.eot');
	src: local('☺'), url('~@/assets/fonts/CircularStd-Black.woff') format('woff'), url('~@/assets/fonts/CircularStd-Black.ttf') format('truetype'), url('~@/assets/fonts/CircularStd-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}







body{
	font-family: $fontInter;
	color: #000;

}
.off{
	overflow: hidden;
	}
.on{
	overflow: visible;
}
a{
	 color: #000;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container{
	max-width: $maxWidthPx;
	width: 100%;
	padding: 0 25px;
}
