



$maxWidthPx: 1320px;
$fontInter: 'Inter', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontCircular: 'Circular';
$fontRoboto:'Roboto', sans-serif;


%hoverButton{
	transition:all 0.4s ease 0s;
	border: 2px solid #0555FF;
	&:hover{
		color: #0555FF;
		background: #fff;
	}
}


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 $addMobSize: $addSize + $addSize *0.7;
 @media(min-width: 767px){
	 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media(max-width: 767px){
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	 }
}
@mixin adaptiv-line-height($pcHeight, $mobHeight) {
 $addHeight: $pcHeight - $mobHeight;
 $maxWidth: $maxWidth - 320;
 $addMobHeight: $addHeight + $addHeight * 0.7;
 @media(min-width: 767px){
	 line-height: calc(#{$mobHeight + px} + #{$addHeight} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media(max-width: 767px){
		line-height: calc(#{$mobHeight + px} + #{$addMobHeight} * ((100vw - 320px) / #{$maxWidth}));
	 }
 }
