<template>
  <div id="app">
    <TheFeatured />
    <TheCalculator />
  </div>
</template>


<script>
import TheFeatured from "@/components/TheFeatured";
import TheCalculator from "@/components/TheCalculator";

export default {
  components: {
    TheFeatured,
    TheCalculator,
  },
};
</script>
