<template>
  <div id="app">
    <ThePage />
    <TheCompanies />
    <TheAward />
    <TheDevelop />
    <TheBuild />
    <TheUpdate />
    <TheTwitter />
    <TheFooter />


  </div>
  </template>

  <script>
  import '@/assets/css/style.scss'

  import ThePage from '@/components/ThePage'
  import TheCompanies from '@/components/TheCompanies'
  import TheAward from '@/components/TheAward'
  import TheDevelop from '@/components/TheDevelop'
  import TheBuild from '@/components/TheBuild'
  import TheUpdate from '@/components/TheUpdate'
  import TheTwitter from '@/components/TheTwitter'

  export default {
  name: 'app',
  components: {
    ThePage,
    TheCompanies,
    TheAward,
    TheDevelop,
    TheBuild,
    TheUpdate,
    TheTwitter,
  }
  }
  </script>


<style lang="css" scoped>
</style>
