<template>
 <TheDevices />
 <TheSearch />
</template>

<script>
import TheDevices from '@/components/TheDevices'
import TheSearch from '@/components/TheSearch'

export default {
  components:{
    TheDevices,
    TheSearch,
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/variables.scss';

  *{
    font-family: $fontRoboto;  
  }

</style>
