<template>
  <TheCourse />
  <TheChart />
  <TheLanguages />
</template>

<script>
import TheCourse from "@/components/TheCourse";
import TheChart from "@/components/TheChart";

import TheLanguages from "@/components/TheLanguages";

export default {
  components: {
    TheCourse,
    TheChart,
    TheLanguages,
  },
};
</script>
