<template>
  <TheMap />
  <TheChat />
  <ThePlayer />
</template>

<script>
import TheMap from "@/components/TheMap";
import TheChat from "@/components/TheChat";
import ThePlayer from "@/components/ThePlayer";

export default {
  components: {
    TheMap,
    TheChat,
    ThePlayer,
  },
};
</script>
