<template>
  <div class="award">
    <div class="wrapper">
      <div class="container">
        <div class="award__body">
          <h2 class="award__title">
            Award-winning logistics services.Powered by
            technology, delivered by experts.
          </h2>

          <p class="award__text">
            Businesses are leaving money on the table every day due to missed supply chain opportunities. Zencargo unlocks your potential with digital freight forwarding that drives cost savings and revenue improvements for your business.
          </p>

          <div class="award__button"><div class="icon-exclamation"></div> <span class="awart__button-text"> See How Spellon Work</span></div>
        </div>
      </div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
@import '@/assets/css/variables.scss';



.award__body{
	padding-top: 100px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.award__title{
	font-family: $fontCircular;
	font-weight: bold;
	@include adaptiv-font(42, 32);
	@include adaptiv-line-height(53, 32);
	text-align: center;
	color: #050038;
	margin-bottom: 30px;
}
.award__text{
	font-family: $fontInter;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: #5B5E6D;
	margin-bottom: 50px;
}
.award__button{
	font-family: $fontInter;
	padding: 9px 25px 9px 21px;
	background: rgba(5, 85, 255, 0.1);
	border-radius: 30px;
	border: 1px solid rgba(5, 85, 255, 0.05);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0555FF;
	transition: all 0.3s ease 0s;
	&:hover{
    background: #0555FF;
    .awart__button-text{
      color: #fff;
    }
	}
}
.icon-exclamation{
	margin-right: 13px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #fff;
  font-size: 19px;
}
</style>

<script>
import '@/assets/css/iconsfont.css'
export default{

}

</script>
