<template>
  <div class="build more">
    <div class="wrapper">
      <div class="container">
        <div class="build__body more__body">
          <div class="build__body-img more__body-img">
            <img src="@/assets/img/build.png" alt="" class="develop__img more__img ">
          </div>
          <div class="build__body-text more__body-text">
            <h2 class="build__title more__title">Build</h2>
            <p class="build__text more__text">
              Develop for all your users' devices with just one codebase. Add fast refresh, true native capabilities, and your creativity, and you'll have the app your users want in no time.
            </p>
            <a href="" class="build__button more__button">Learn more about spellon</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
@import '@/assets/css/more.scss';

</style>
