<template>
<div class="burger">
  <div class="container">
    <div class="burger__body">
      <nav class="burger__menu menu menu-hidden"
          v-bind:class="{ 'menu-active': isActive }">

          <svg class="burger__filter">
            <defs>
              <filter id="gooeyness">
                <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness" />
                <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
              </filter>
            </defs>
          </svg>

        <div class="burger__button" v-on:click="active">
          <div class="plate plate" v-bind:class="{ 'active': isActive }">
            <svg class="burger-ico" version="1.1" height="100" width="100" viewBox="0 0 100 100">
              <path class="line line1" d="M 50,35 H 30 M 50,35 H 70 V 38 H 30 V 41 H 70" />
              <path class="line line2" d="M 50,50 H 30 V 47 H 70 V 44 H 30" />
              <path class="line line3" d="M 50,50 H 70 V 53 H 30 V 56 H 70" />
              <path class="line line4" d="M 50,65 H 70 M 50,65 H 30 V 62 H 70 V 59 H 30" />
            </svg>
            <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
              <path class="line" d="M 34,32 L 66,68" />
              <path class="line" d="M 66,32 L 34,68" />
            </svg>
          </div>
         </div>
        <div href="" class="menu__item menu__item-1 menu__sign">Sign in</div>
        <router-link to="/" class="menu__item menu__item-0 menu__home" v-on:click="BurgerOff">Home</router-link>
        <div href="" class="menu__item menu__item-1 menu__docs" v-on:click="BurgerOff">Docs</div>
        <router-link to="/tools" class="menu__item menu__item-2 menu__tools" v-on:click="BurgerOff">Tools</router-link>
        <router-link to="/freatures" class="menu__item menu__item-3 menu__freatures" v-on:click="BurgerOff">Freatures</router-link>
        <router-link to="/pricing" class="menu__item menu__item-4 menu__pricing" v-on:click="BurgerOff">Pricing</router-link>
        <router-link to="/jobs" class="menu__item menu__item-5 menu__jobs" v-on:click="BurgerOff">Jobs</router-link>

      </nav>
    </div>
  </div>
</div>
</template>

<script>
export default {
  data(){
    return{
      isActive: false,

    }
  },
  methods: {
    active() {
      if (this.isActive == false) {
        this.isActive = true
        document.documentElement.style.overflow = 'hidden'
      }else{
        this.isActive = false
        document.documentElement.style.overflow = 'auto'
      }
    },
    BurgerOff() {
      this.isActive = false
      document.documentElement.style.overflow = 'auto'

    },

        },
  }


</script>

<style lang="scss" scoped>
@import '@/assets/css/variables.scss';
.burger{
  position: fixed;
}
.burger__button{
    cursor: pointer;
    width: 50px;
    max-width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    @media(max-width: 993px){
      top: 0px;
      left: 0px;
    }

}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $fontInter;
    font-size: 16px;
    line-height: 19px;
    color: #050038;
    position: fixed;
    background: #0555FF;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease 0s, border-radius 0.8s ease 0s;
    z-index: 10;
    top: 0;
    left: -100%;
    border-radius: 0 15% 15% 0;
}
.menu__item {
    transition: all 0.3s ease 0s;
    font-size: 25px;
    margin: 30px 0;
    color: #fff;
    cursor: pointer;
    @media(max-height: 460px) {
        margin: 15px 0;
    }
    &:hover {
        color: #000;
    }
    .menu__item-active:after{
      content:'';
      width: 0;
      height: 0;
    }
}
.menu__sign {
    display: none;
}
.menu-active {
    left: 0;
    border-radius: 0%;
    overflow: hidden;
}
.menu__sign {
    display: block;
}

svg {
  height: 80px;
  position: absolute;
  width: 80px;
}
@media (max-width: 640px) {

}
.plate {
  height: 80px;
  width: 80px;
}
.burger-ico {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}
.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

.plate .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms,  stroke 0.3s ease 0s;
}
.plate .line1 {
  stroke-dasharray: 21 127;
}
.plate .line2 {
  stroke-dasharray: 21 106;
}
.plate .line3 {
  stroke-dasharray: 21 106;
}
.plate .line4 {
  stroke-dasharray: 21 126;
}
.plate .x {
  transition: transform 400ms 50ms;
}

.active.plate .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms,  stroke 0.3s ease 0s;
}
.active.plate .line1 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}
.active.plate .line2 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}
.active.plate .line3 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}
.active.plate .line4 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}
.active.plate .x {
  transition: transform 400ms 50ms;
}
.burger__filter{
  position: relative;

}

</style>
