<template>
  <div id="app">
    <div class="course">
      <div class="wrapper">
        <div class="container">
          <div class="course__body">
            <h2 class="course__title sinaw__title">Course Pricing</h2>
            <h3 class="course__subtitle sinaw__subtitle">Choose pricing that suits to your need.</h3>
            <div class="course__cards">
              <div class="course__card free__card">
                <div class="course__logo-title-price">
                  <div class="course__logo free__logo"><img src="@/assets/img/star.png" class="course__img" alt=""></div>
                  <div class="course__cards-title-price">
                    <div class="course__cards-title">Free</div>
                    <div class="course__price"><span class="dollar">$</span> <span class="price">0</span>/month</div>
                  </div>
                </div>
                <ul class="course__list">
                  <li class="course__li">Free e-book for every class</li>
                  <li class="course__li">Materials update every day</li>
                  <li class="course__li">Free download material videos</li>
                  <li class="course__li">Unlock 5 material videos</li>
                </ul>

                <button class="free__button course__button">Your Current Package</button>
              </div>

              <div class="course__card express__card">
                <div class="course__logo-title-price">
                  <div class="course__logo express__logo"><img src="@/assets/img/key.png" class="course__img express__img" alt=""></div>
                  <div class="course__cards-title-price">
                    <div class="course__cards-title">Express</div>
                    <div class="course__price"><span class="dollar">$</span> <span class="price">75</span>/month</div>
                  </div>
                </div>
                <ul class="course__list">
                  <li class="course__li">Free e-book for every class</li>
                  <li class="course__li">Materials update every day</li>
                  <li class="course__li">Free download material videos</li>
                  <li class="course__li">Meeting 2 times a week</li>
                  <li class="course__li">Unlock 15 material videos</li>
                </ul>

                <button class="course__button">Buy Express</button>
              </div>

              <div class="course__card premium__card">
                <div class="course__logo-title-price">
                  <div class="course__logo premium__logo"><img src="@/assets/img/crown.png" class="course__img premium__img" alt=""></div>
                  <div class="course__cards-title-price">
                    <div class="course__cards-title">Premium</div>
                    <div class="course__price"><span class="dollar">$</span> <span class="price">115</span>/month</div>
                  </div>
                </div>
                <ul class="course__list">
                  <li class="course__li">Free e-book for every class</li>
                  <li class="course__li">Materials update every day</li>
                  <li class="course__li">Free download material videos</li>
                  <li class="course__li">Private chat with mentor</li>
                  <li class="course__li">Meeting 3 times a week</li>
                  <li class="course__li">Unlock up to 30 material videos</li>
                  <li class="course__li">Unlimited saved class</li>

                </ul>

                <button class="course__button">Buy Premium</button>
                <div class="course__popular">
                  <div class="course__popular-text"> Popular</div> <img src="@/assets/img/popular.png" alt="" class="course__popular-img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
%hoverButtonBlueOpacity {
	background: rgba(255, 255, 255, 0);
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
	border: 2px solid #fff;
	color: #fff;
	&:hover {
		color: #0553ff;
		background: #fff;
	}
}
%hoverButtonBlue {
	background: #0553ff;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.4s ease 0s;
	border: 2px solid #0553ff;
	&:hover {
		color: #0553ff;
		background: rgba(23, 24, 54, 0);
	}
}
.course{

}
.course__body {
    padding-top: 150px;
      padding-bottom: 115px;
}
.course__cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}
.course__card {
    padding: 36px;
    background: rgba(#0555ff, 0.9);
    border-radius: 20px;
    border: 3px solid rgba(#0555ff, 0.78);
    width: 100%;
    max-width: 372px;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    @media (max-width: 1063px){
      padding: 25px;
    }
}
.course__logo-title-price {
    display: flex;
    padding-bottom: 30px;
    border: 0 solid #fff;
    border-bottom-width: 1.5px;
    position: relative;
    z-index: 2;
}
.course__img {
    padding: 10px;
    background: rgba(#0555ff, 0.84);
    border-radius: 8px;
}
.course__logo {
    padding: 1px;
    max-width: 54px;
    max-height: 54px;
    border-radius: 8px;
    margin-right: 30px;
}
.free__logo {
    background: linear-gradient(307.55deg, #3BF5BD 0%, #0555ff 107.61%);
}
.course__title{
    color: rgba(#0555FF, 0.7);
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.sinaw__subtitle {
    font-size: 18px;
    color: rgba(#0555FF, 0.7);
    margin-bottom: 24px;
    text-align: center;
    position: relative;
    z-index: 5;
}
.course__cards-title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    text-align: left;
}
.dollar {
    font-weight: bold;
    font-size: 14px;
    vertical-align: top;
}
.price {
    font-weight: bold;
    font-size: 28px;
    margin-right: 4px;
}
.dollar,
.price {
    color: #fff;
}
.course__price {
    font-size: 11px;
    color: rgba(#fff, 0.8);
}
.course__list {
    padding-top: 30px;
    flex: 1 1 auto;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
.course__li {
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    margin: 8px 0;
}
.course__li::before {
    content: url("~@/assets/img/list.svg");
    margin-right: 12px;
}
.course__button {
    width: 100%;
    max-width: 100%;
    padding: 16px 0;
    @extend %hoverButtonBlueOpacity;
    position: relative;
    bottom: 0;
    z-index: 2;
}
.free__button {
    border-color: rgba(#ffffff, 0.4);
    color: rgba(#ffffff, 0.4);
    cursor: default;
    &:hover {
        border-color: rgba(#ffffff, 0.4);
        color: rgba(#ffffff, 0.4);
        background: rgba(255, 255, 255, 0);
    }
}

.express__logo {
    background: linear-gradient(307.55deg, #3BA7F5 0%, #0555ff 107.61%);
}
.express__img {
    padding: 3px;
}

.premium__logo {
    background: linear-gradient(307.55deg, #F6844B 0%, #0555ff 107.61%);
}
.premium__img {
    padding: 8px;
}
.express__card {
    margin: 0 42px;
}
.course__popular {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    left: 0;
    top: 0;
    z-index: 1;
}
.course__popular-text {
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 2;
    transform: rotate(32.64deg);
}
.course__popular-img {
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 1;
    border-radius: 0 18px 0 0;
    opacity: 0.9;
    border: 0 solid #0553ff;
    border-width: 3px 3px 0 0;
}
@media (max-width: 992px) {
    .course__cards {
        flex-direction: column;
        align-items: center;
    }
    .express__card {
        margin: 20px 0;
    }
}
@media (max-width: 337px){
  .express__card{
    padding: 21px;
  }
  .course__li:before{
    margin-right: 8px;
  }
}
</style>
