<template>
  <div class="chat">
    <div class="wrapper">
      <div class="container">
        <div class="chat__body">
          <h2 class="chat__title">Test chat</h2>
          <div class="chat__messages">
            <div
              class="chat__message"
              v-for="message in messages"
              :key="message"
            >
              <div class="chat__name">test</div>
              <div class="chat__text">{{ message.attributes.text }}</div>
            </div>
          </div>
          <div class="chat__action">
            <input type="text" v-model="message" placeholder="Message" />
            <button @click="send">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

  <script>
import axios from "axios";
export default {
  data() {
    return {
      message: "",
      messages: [],
    };
  },
  watch: {
    "$store.state.chat"() {
      axios.get("http://localhost:1337/api/chat-messages").then((r) => {
        console.log(r);
        this.messages = r.data.data;
      });
    },
  },
  methods: {
    send() {
      // this.$socket.client.emit("test");
      axios
        .post("http://localhost:1337/api/chat-messages", {
          data: {
            text: this.message,
          },
        })
        .then((r) => {
          console.log(r);
        });
      console.log("send");
      this.message = "";
    },
  },
  mounted() {
    axios.get("http://localhost:1337/api/chat-messages").then((r) => {
      console.log(r);
      this.messages = r.data.data;
    });
  },
};
</script>

<style lang="scss" scoped>
.chat {
  margin: 30px 0;
}
.chat__body {
  background: rgb(34, 24, 94);
  padding: 30px;
}
.chat__message {
  color: #fff;
}
.chat__name {
  font-size: 20px;
}
.chat__text {
  font-size: 30px;
}
.chat__action {
  display: flex;
  justify-content: space-between;
  & input {
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border-bottom-width: 2px;
    border-block-style: solid;
    font-size: 30px;
    padding: 5px 0;
    border-color: #fff;
    width: 80%;
  }
  & button {
    background: #fff;
    height: 40px;
    width: 20%;
    font-size: 25px;
  }
}
.chat__title {
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
</style>