<template>
  <div class="chart">
    <div class="wrapper">
      <div class="container">
        <div class="chart__body">
          <apexchart
          height="500"
          type="line"
          background="red"
          :options="chartOptions"
          :series="series"
          class="chart__chart"
          ref="chart"
          ></apexchart>

          <div class="chart__dates">
            <input type="date" name="" value="" class="chart__date chart__date-1" @change="Add">
            <input type="date" name="" value="" class="chart__date chart__date-2" @change="Add">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue3-apexcharts";
import axios from 'axios';


export default {
  components: {
    apexchart: VueApexCharts,
  },
  data() {


    return {
      chartOptions: {
        annotations: {
  yaxis: [{
    y: 30,
    borderColor: '#999',

  }],
  xaxis: [{
    x: new Date('14 Nov 2019').getTime(),
    borderColor: '#999',
    yAxisIndex: 0,

  }]
},
    xaxis: {
          type: 'datetime',
          tickAmount: 6,
        },
        tooltip: {
          x: {
            format: 'dd MMM yyyy'
          }
        },
        noData:{
          text: "Если график не показываеться, то перезапускайте страницу",
        }
      },
      series: [{
 data: []
}],
    }
  },
  methods:{

  Add(){
    let date1 = document.querySelector('.chart__date-1')
    let date2 = document.querySelector('.chart__date-2')
    date1 = date1.value
    date2 = date2.value

   this.$refs.chart.zoomX(
              new Date(date1).getTime(),
              new Date(date2).getTime()
            );


    }
  },

   mounted() {


     let url = 'https://api.coronavirus.data.gov.uk/v1/data'

     let date1 = document.querySelector('.chart__date-1')
     let date2 = document.querySelector('.chart__date-2')

     axios({
       method: 'GET',
       url: url,
     }).then(response => {
       let dates = []
       let death = []
       let cahartLengthArray = response.data.length - 1
       let all = []
       for (let i = cahartLengthArray; i >= 0; i--) {
         dates[i] = response.data.data[i].date;
       }
       for (var n = 0; n <= cahartLengthArray; n++) {
         death[n] = response.data.data[cahartLengthArray - n].death;
       }
       for (var i = 0; i <= cahartLengthArray; i++) {
         all[i] = [dates[i], death[cahartLengthArray - i]]
       }
       this.series = [
         {
           data: all
         },
       ]

       date1.value = dates[cahartLengthArray]
       date2.value = dates[0]
       date1.setAttribute('min', dates[cahartLengthArray]);
       date1.setAttribute('max', dates[0]);
       date2.setAttribute('min', dates[cahartLengthArray]);
       date2.setAttribute('max', dates[0]);


       console.log(date1.value);
       console.log(date2.value);
     });

   },
}
</script>

<style lang="scss" scoped>
  .chart__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px 0;
    .chart__chart{
      position: relative;
      width: 1000px;
      max-width: 100%;
      padding: 0 30px;
      &:before{
        content: "Budget";
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after{
        content: "day";
        position: absolute;
        bottom: 40px;
        right: 0px;
      }
    }
    .chart__dates{
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
      @media(max-width: 450px){
        flex-direction: column;
        align-items: center;
      }
    }
    .chart__date{
      padding: 15px 10px;
      border: 1px solid rgb(161, 161, 161);
      border-radius: 30px;
      max-width: 151px;
      font-size: 14px;
      color: #0555FF;
      @media(max-width: 450px){
        margin: 10px 0;
      }
    }
  }
</style>
