<template>
  <div class="calc">
    <div class="wrapper">
      <div class="container">
        <div class="calc__body">
          <h2 class="calc__title">Investment calculator</h2>
          <div class="calc__code-verfy">Your code: {{ captcha }}</div>
          <div class="calc__parameters">
            <div class="calc__parameters-items">
              <div class="calc__parameters-items-1-2">
                <div class="calc__parameters-item calc__parameters-item-1">
                  <div>
                    <div>
                      <input
                        type="number"
                        class="calc__your-contribution calc__input-number"
                        placeholder="Your contribution"
                        min="0"
                        step="100"
                        v-model="contribution"
                      />
                      <select
                        name="currency"
                        v-model="currency"
                        class="calc__currency calc__select"
                      >
                        <option value="$">USD $</option>
                        <option value="₴">UAH ₴</option>
                        <option value="₽">RUB ₽</option>
                        <option value="€">EUR €</option>
                        <option value="£">GBP £</option>
                        <option value="¥">JPY ¥</option>
                      </select>
                    </div>
                    <div>
                      <p>
                        <input
                          type="checkbox"
                          name="commission"
                          class="calc__icl-commission calc__input-checkbox"
                        />
                        <label class="calc__icl-commission-value"
                          >include commission in profit
                          {{ Number(commission) + Number(hour) }} %</label
                        >
                      </p>
                    </div>
                  </div>
                </div>

                <div class="calc__parameters-item calc__parameters-item-2">
                  <div>
                    <div class="calc__percent">
                      <input
                        type="range"
                        min="0"
                        max="100"
                        class="calc__percent-range calc__input-range"
                        v-model="percent"
                      />
                      <div class="calc__percent-value">
                        Percent: {{ percent }} %
                      </div>
                    </div>
                    <div class="calc__commission">
                      <input
                        type="range"
                        min="0"
                        max="50"
                        class="calc__commission-range calc__input-range"
                        v-model="commission"
                      />
                      <div class="calc__commission-value">
                        commission: {{ commission }} %
                      </div>
                    </div>
                    <h3 class="calc__time-title">Time to invest</h3>
                    <input
                      type="range"
                      min="1"
                      max="11"
                      v-model="hour"
                      class="calc__time calc__input-range"
                      list="tickmarks-time"
                    />
                    <datalist id="tickmarks-time">
                      <option value="1" label="1"></option>
                      <option value="2" label="2"></option>
                      <option value="3" label="3"></option>
                      <option value="4" label="4"></option>
                      <option value="5" label="5"></option>
                      <option value="6" label="6"></option>
                      <option value="7" label="7"></option>
                      <option value="8" label="8"></option>
                      <option value="9" label="9"></option>
                      <option value="10" label="10"></option>
                      <option value="11" label="11"></option>
                    </datalist>
                    <div class="calc__time-value">
                      {{ hour }} hours = {{ hour }}% commission
                    </div>
                  </div>
                </div>
              </div>

              <div class="calc__parameters-item calc__parameters-item-3">
                <div class="calc__form">
                  <div class="calc__name">
                    <input
                      type="text"
                      class="calc__first-name calc__form-input"
                      placeholder="First name"
                      v-model="form[0]"
                      @focus="inputFocus(0)"
                    />
                    <input
                      type="text"
                      false
                      class="calc__last-name calc__form-input"
                      placeholder="Last name"
                      v-model="form[1]"
                      @focus="inputFocus(1)"
                    />
                  </div>
                  <input
                    type="text"
                    class="calc__gmail calc__form-input"
                    placeholder="mail"
                    v-model="form[2]"
                    @focus="inputFocus(2)"
                  />
                  <input
                    type="tel"
                    name="tel"
                    class="calc__tel calc__form-input"
                    placeholder="Phone number"
                    v-model="form[3]"
                    @focus="inputFocus(3)"
                  />
                  <div class="calc__captcha">
                    <h3 class="calc__captcha-title">Your code</h3>
                    <input
                      type="text"
                      class="calc__code calc__form-input"
                      placeholder="Example: #fa1a51g"
                      v-model="form[4]"
                      @focus="inputFocus(4)"
                    />
                  </div>
                  <div class="calc__go" @click="calculation">GO</div>
                </div>
              </div>
            </div>

            <div class="calc__result">profit: {{ profit }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template> 

<script>
export default {
  data() {
    return {
      captcha: "#",
      contribution: 100,
      percent: 0,
      commission: 0,
      hour: 1,
      currency: "$",
      profit: "",
      form: ["", "", "", "", ""],

      /*
      form[0] - fName
      form[1] - lName
      form[2] - mail
      form[3] - phone
      form[4] - captcha
      */
      color: "#0555ff",
    };
  },
  methods: {
    formValid(element) {
      return element == false;
    },

    calculation() {
      let patternMail =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      let patternPhone =
        /^\+?1?\s*?\(?\d{3}(?:\)|[-|\s])?\s*?\d{3}[-|\s]?\d{4}$/;

      if (
        this.form.some(this.formValid) == false &&
        this.form[2].match(patternMail) &&
        this.form[3].match(patternPhone) &&
        this.form[4] == this.captcha
      ) {
        if (document.querySelector(".calc__icl-commission").checked == false) {
          this.profit = Math.round(this.contribution / 100) * this.percent;
          this.profit += `${this.currency}`;
        } else if (document.querySelector(".calc__icl-commission").checked) {
          this.profit = Math.round(
            (this.contribution / 100) * this.percent -
              (((this.contribution / 100) * this.percent) / 100) *
                (Number(this.commission) + Number(this.hour))
          );
          this.profit += `${this.currency}`;
        }
        console.log(this.form);
        console.log(this.form.some(this.formValid));
      } else {
        console.log(this.form[2].match(patternMail));
      }
    },
    inputFocus(n) {
      document.getElementsByClassName("calc__form-input")[n].style.borderColor =
        this.color;
    },
  },
  mounted() {
    var words =
      "0123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM";
    var max_position = words.length - 1;
    for (let i = 0; i < 7; ++i) {
      max_position = Math.floor(Math.random() * max_position);
      this.captcha =
        this.captcha + words.substring(max_position, max_position + 1);
    }
    console.log(this.captcha);
  },
};
</script>


<style lang="scss" scoped>
@import "@/assets/css/variables.scss";

.calc__body {
  padding: 20px 35px;
  background: rgba(#3b6fe1, 0.3);
  box-shadow: 0 0 7px 8px rgba(#3b6fe1, 0.3);
  text-align: center;
  margin-bottom: 40px;
}
.calc__title {
  font-size: 26px;
  margin-bottom: 15px;
}
.calc__parameters-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calc__parameters-items-1-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 935px) {
    flex-direction: column;
    padding: 15px 0;
  }
}
.calc__parameters-item {
  width: 100%;
  display: flex;
  align-items: center;
}
.calc__parameters-item-1 {
  display: flex;
  align-self: flex-start;
  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
  }
  @media (max-width: 935px) {
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    p {
      display: inline-flex;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
  div {
    margin: 10px 0;
  }
}
.calc__parameters-item-2 {
  justify-content: end;
  @media (max-width: 935px) {
    justify-content: center;
  }
}
.calc__parameters-item-3 {
  justify-content: center;
  & input {
    background: rgba(#3b6fe1, 0);
    font-size: 16px;
    border: 0px solid #3b6fe1;
    border-width: 0 0 2px 0;
    margin: 5px 10px;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
}
.calc__icl-commission-value {
  margin-left: 6px;
  font-size: 17px;
  @media (max-width: 410px) {
    font-size: 15px;
  }
}
.calc__your-contribution {
  margin-right: 10px;
  background: rgba(#3b6fe1, 0);
  font-size: 20px;
  border: 0px solid rgba(#3b6fe1, 0.4);
  border-width: 0 0 2px 0;
  transition: all 0.3s ease 0s;
  &:focus {
    border-color: rgba(#3b6fe1, 1);
  }
  @media (max-width: 410px) {
    font-size: 18px;
  }
}
.calc__currency {
  font-size: 20px;
  background: rgba(#3b6fe1, 0);
  @media (max-width: 483px) {
    margin-top: 15px;
  }
}
.calc__input-range {
  width: 400px;
  margin-bottom: 10px;
  @media (max-width: 490px) {
    width: 250px;
  }
}

.calc__time-title {
  margin-top: 20px;
}
.calc__captcha-title {
  margin: 15px 0;
  font-size: 20px;
}
.calc__captcha {
  display: inline;
}
.calc__go {
  display: inline;
  padding: 10px;
  background: #0555ff;
  border: 2px solid #0555ff;
  transition: all 0.3s ease 0s;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  &:hover {
    background: rgba(#3b6fe1, 0);
    color: #fff;
    color: #0555ff;
  }
  @media (max-width: 1210px) {
    display: block;
    width: 100px;
    margin: 15px auto;
  }
}
.calc__result {
  font-size: 19px;
}
.calc__commission-value {
  font-size: 17px;
  margin-left: 5px;
}
.calc__code-verfy {
  font-size: 17px;
  margin-bottom: 10px;
  text-align: left;
  @media (max-width: 935px) {
    text-align: center;
  }
}
</style>