<template>
  <div class="companies">
    <div class="wrapper">
      <div class="container">
        <div class="companies__body">
          <p class="companies__text">
            More than 1.8 million people across 50,000 companies choose Spellon
          </p>
          <swiper
            :modules="modules"
            :slides-per-view="1"
            :pagination="{ clickable: true }"
            @swiper="onSwiper"
            @slideChange="onSlideChange"
            class="companies-wrapper"
          >
            <swiper-slide class="companies-slide">
              <div class="slider-img-body">
                <img src="@/assets/img/jll.png" alt="" class="companie jill" />
                <img
                  src="@/assets/img/netflix.png"
                  alt=""
                  class="companie netflix"
                />
                <img
                  src="@/assets/img/hubspot.png"
                  alt=""
                  class="companie hubspot"
                />
                <img
                  src="@/assets/img/atlassian.png"
                  alt=""
                  class="companie atlassian"
                />
                <img
                  src="@/assets/img/juniper.png"
                  alt=""
                  class="companie juniper"
                />
                <img
                  src="@/assets/img/lacoste.png"
                  alt=""
                  class="companie lacoste"
                />
              </div>
            </swiper-slide>
            <swiper-slide class="companies-slide">
              <div class="slider-img-body">
                <img src="@/assets/img/jll.png" alt="" class="companie jill" />
                <img
                  src="@/assets/img/netflix.png"
                  alt=""
                  class="companie netflix"
                />
                <img
                  src="@/assets/img/hubspot.png"
                  alt=""
                  class="companie hubspot"
                />
                <img
                  src="@/assets/img/atlassian.png"
                  alt=""
                  class="companie atlassian"
                />
                <img
                  src="@/assets/img/juniper.png"
                  alt=""
                  class="companie juniper"
                />
                <img
                  src="@/assets/img/lacoste.png"
                  alt=""
                  class="companie lacoste"
                />
              </div>
            </swiper-slide>
            <swiper-slide class="companies-slide">
              <div class="slider-img-body">
                <img src="@/assets/img/jll.png" alt="" class="companie jill" />
                <img
                  src="@/assets/img/netflix.png"
                  alt=""
                  class="companie netflix"
                />
                <img
                  src="@/assets/img/hubspot.png"
                  alt=""
                  class="companie hubspot"
                />
                <img
                  src="@/assets/img/atlassian.png"
                  alt=""
                  class="companie atlassian"
                />
                <img
                  src="@/assets/img/juniper.png"
                  alt=""
                  class="companie juniper"
                />
                <img
                  src="@/assets/img/lacoste.png"
                  alt=""
                  class="companie lacoste"
                />
              </div>
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from "@/assets/swiper/vue/swiper-vue.js";
import { Pagination } from "swiper";

// Import Swiper styles
import "@/assets/swiper/swiper-bundle.css";
import "@/assets/swiper/modules/pagination/pagination.min.css";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Pagination],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/variables.scss";

.companies__body {
  padding: 0 0 50px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px 0;
}
.companies__text {
  font-family: $fontInter;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #5b5e6d;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.companies-wrapper {
  max-height: 100%;
  margin-bottom: 60px;
  @media (max-width: 1000px) {
    margin-bottom: 15px;
  }
}

.companies-slide {
  text-align: center;
}
.slider-img-body {
  text-align: center;
}
.companie {
  margin: 0 25px;
}
.swiper {
  padding-bottom: 40px;
}
@media (max-width: 1050px) {
  .lacoste {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 868px) {
  .juniper {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 718px) {
  .atlassian {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 630px) {
  .slider-img-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .companie {
    max-width: 100%;
    margin: 15px 0;
  }
  .netflix {
    margin-top: 0;
  }
}
</style>

