<template>
  <div class="develop more">
    <div class="wrapper">
      <div class="container">
        <div class="develop__body more__body">
          <div class="develop__body-img more__body-img develop__body-img-1">
            <img src="@/assets/img/develop.png" alt="" class="develop__img more__img">
          </div>
          <div class="develop__body-text more__body-text">
            <h2 class="develop__title more__title">Develop</h2>
            <p class="develop__text more__text">
              Develop for all your users' devices with just one codebase. Add fast refresh, true native capabilities, and your creativity, and you'll have the app your users want in no time.
            </p>
            <a href="" class="develop__button more__button">Learn more about spellon</a>
          </div>
          <div class="develop__body-img more__body-img develop__body-img-2">
            <img src="@/assets/img/develop.png" alt="" class="develop__img more__img">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
@import '@/assets/css/more.scss';

</style>
