<template>
    <div class="devices">
      <div class="wrapper">
        <div class="container">
          <div class="devices__body">
            <h2 class="devices__title">Sync Across All Devices</h2>
            <h3 class="devices__subtitle">Everything you need to make your business grow super fast</h3>

            <div class="devices__grid archive">
              <article class="article">
                <div class="grid__item">
                  <img src="@/assets/img/web.png" alt="">
                </div>
              </article>


              <article class="article">
                <div class="grid__item">
                  <div class="icon-laptop"></div>
                  <h4 class="devices__grid-title">Web Application</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Consectetur adipiscing elit.</p>
                </div>
              </article>

              <article class="article">
                <div class="icon-download"></div>
                <div class="grid__item">
                  <h4 class="devices__grid-title">Mobile App</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Consectetur adipiscing elit.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <img src="@/assets/img/mobile.png" alt="">
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <div class="icon-control-panel"></div>
                  <h4 class="devices__grid-title">Dashboard</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>




              <article class="article">
                <div class="grid__item">
                  <div class="icon-sitemap"></div>
                  <h4 class="devices__grid-title">Custom Rules</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <div class="icon-save"></div>
                  <h4 class="devices__grid-title">Presets</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <div class="icon-bar-chart"></div>
                  <h4 class="devices__grid-title">Metrics</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <h4 class="devices__grid-title">Concept</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <h4 class="devices__grid-title">Strategy</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <h4 class="devices__grid-title">Ecommerce</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

              <article class="article">
                <div class="grid__item">
                  <h4 class="devices__grid-title">Launch</h4>
                  <p class="devices__grid-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
              </article>

            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/variables.scss';

  .container{
    max-width: 940px;
  }
  .devices__body{
    text-align: center;
    color: #333;
    font-family: $fontRoboto;
    padding: 150px 0;
  }
  .devices__title{
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .devices__subtitle{
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 70px;
  }
  .grid__item{
    text-align: left;
  }
  .devices__grid-title{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 17px;
  }
  .devices__grid-text{
    font-size: 16px;
    line-height: 22px;
      }
  .archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
  }
  .article{
    border: 1px solid rgba(#0555ff, 0.3);
    background: rgba(#0555ff, 1);
    padding: 15px;
    border-radius: 25px;
    color: #fff
  }
  .article img{
    max-width: 100%;
  }


@media (min-width: 680px) {
  .article{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:before{
      text-align: left;
      margin-bottom: 16px;
    }
  }
}

  @media (max-width: 680px) {
    .archive {
      display: flex;
      flex-direction: column;
    }

    .article {
      margin-bottom: 2em;
    }
    .grid__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .article:nth-child(1) {
    grid-column: 1 / 3;
    align-items: flex-end;
    background: none;
    border: none
  }
  .article:nth-child(2) {
    grid-column: -1 / -3;

  }
  .article:nth-child(3) {
    grid-column: 1 / 3;
  }
  .article:nth-child(4) {
    grid-column: -1 / -3;
    background: none;
    border: none
  }
  .article:nth-child(9) {
    grid-column: 1 / -2;
    &:before{
      content: url('~@/assets/img/brain.png')

    }
  }
  .article:nth-child(10) {
    &:before{
      content: url('~@/assets/img/sun.png')
    }
  }
  .article:nth-child(11) {
    grid-column: 1 / -1;
    &:before{
      content: url('~@/assets/img/label.png')
    }
  }
  .article:nth-child(12) {
    grid-column: 2 / -2;
  }

  [class^="icon-"]{
    text-align: left;
    margin-bottom: 15px;
    font-size: 25px;
  }
</style>
