<template>
<div class="feature">
  <div class="wrapper">
    <div class="container">
      <div class="feature__body">
        <h2 class="feature__title">Property Featured</h2>
        <p class="feature__text">Real estate is a crowded field. But with the number of buyers purchasing homes through real estate agents and brokers growing there’s plenty of </p>
        <div class="feature__items">
          <div class="feature__column">
            <div class="feature__item">
              <div class="feature__logo">
                <div class="icon-surface"></div>
              </div>
              <h3 class="feature__item-title">100% Security</h3>
              <p class="feature__item-text">For many of us, a cool job is a dream and not easily achieved. </p>
            </div>
            <div class="feature__item">
              <div class="feature__logo">
                <div class="icon-conditioner"></div>
              </div>
              <h3 class="feature__item-title">Free air conditioner</h3>
              <p class="feature__item-text">For many of us, a cool job is a dream and not easily achieved. </p>
            </div>
            <div class="feature__item">
              <div class="feature__logo">
                <div class="icon-plants"></div>
              </div>
              <h3 class="feature__item-title">Flower garden</h3>
              <p class="feature__item-text">For many of us, a cool job is a dream and not easily achieved. </p>
            </div>
          </div>

          <div class="feature__column">
            <div class="feature__img">
              <img src="@/assets/img/hous.png" alt="">
            </div>
          </div>

          <div class="feature__column">
            <div class="feature__item">
              <div class="feature__logo">
                <div class="icon-car"></div>
              </div>
              <h3 class="feature__item-title">Parkers & movers</h3>
              <p class="feature__item-text">For many of us, a cool job is a dream and not easily achieved. </p>
            </div>
            <div class="feature__item">
              <div class="feature__logo">
                <div class="icon-furniture"></div>
              </div>
              <h3 class="feature__item-title">Rental furniture</h3>
              <p class="feature__item-text">For many of us, a cool job is a dream and not easily achieved. </p>
            </div>
            <div class="feature__item">
              <div class="feature__logo">
                <div class="icon-pool"></div>
              </div>
              <h3 class="feature__item-title">Swimming pool</h3>
              <p class="feature__item-text">For many of us, a cool job is a dream and not easily achieved. </p>
            </div>
          </div>

        </div>
        <!--
      <div class="feature__items">
        <div class="feature__item feature__item-1">
          <div class="feature__body-img">
            <div class="feature__img"><img src="@/assets/img/friends.png" alt=""></div>
          </div>
          <div class="feature__body-text">
            <h3 class="feature__title">Get New Friends</h3>
            <p class="feature__text">
              You will meet new friends in some of classes that you take. Say hello to them and make friends, it will be so much warm friendship!
            </p>
          </div>
        </div>

        <div class="feature__item feature__item-2">
          <div class="feature__body-img">
            <div class="feature__img"><img src="@/assets/img/expert.png" alt=""></div>
          </div>
          <div class="feature__body-text">
            <h3 class="feature__title">Expert and Fun Mentor</h3>
            <p class="feature__text">
              Learn with earnest and don’t forget to get relax too. Learn and enjoy the materials or classes with our expert mentors.
            </p>
          </div>
        </div>

        <div class="feature__item feature__item-3">
          <div class="feature__body-img">
            <div class="feature__img"><img src="@/assets/img/access.png" alt=""></div>
          </div>
          <div class="feature__body-text">
            <h3 class="feature__title">Flexible Access</h3>
            <p class="feature__text">
              You can access materials or classes easily by our website also mobile. Access it everywhere and everytime, no limit for you to learn!
            </p>
          </div>
        </div>
      </div>
    -->
      </div>
    </div>
  </div>
</div>
</template>



<style lang="scss" scoped>
@import '@/assets/css/variables.scss';
.feature__body {
  padding: 150px 0;
  font-family: $fontPoppins;
}
.feature__title{
  font-weight: 600;
  font-size: 44px;
  color: #030A1B;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  &:before{
    content: url('~@/assets/img/feature-title.png');
    width: 50px;
    height: 64px;
    position: relative;
    margin-right: -26px;
  }
}
.feature__text{
  text-align: center;
  color: #030A1B;
  opacity: 0.7;
  margin-bottom: 70px;
  line-height: 24px;
}
.feature__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.feature__column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature__item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
  padding: 25px;
  background: #F9F9F9;
  transition: all 0.4s ease 0s;
  box-shadow: 0px 10px 10px 0px rgba(#0555ff, 0.4 );
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}
.feature__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0555FF;
  font-size: 20px;
  background: rgba(#0555ff, 0.2);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 46px;
  height: 46px;
  max-width: 100%;
  max-height: 100%;
}
.feature__item-title{
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #030A1B;
  margin-bottom: 10px;
}
.feature__item-text{
  font-size: 16px;
  line-height: 24px;
  color: #030A1B;
  opacity: 0.7;
}
.feature__img{
  display: flex;
  align-items: center ;
  height: 100%;
  & img{
    max-width: 100%
  }
}
@media (max-width: 900px) {
  .feature__items{
    display: flex;
    flex-direction: column;
  }
  .feature__item{
    align-items: center;
    & p{
      text-align: center;
    }
  }
}
</style>
