<template>
  <footer class="footer">
    <div class="wrapper">
      <div class="container">
        <div class="footer__body">
          <div class="footer__z-index">
            <h2 class="footer__title">It’s easy to  get started. Start now.</h2>
            <div class="footer__form">
              <input type="text" class="footer__input" placeholder="Enter your email">
              <a href="" class="footer__button">Get Started</a>
            </div>

              <div class="footer__columns">
                <div class="footer__location location">
                  <h3 class="location__title">Spellon.</h3>
                  <ul class="location__list">
                    <li class="location__citys">
                      <a href="https://www.google.com.ua/maps/place/%D0%A1%D0%B5%D0%B2%D0%B5%D1%80+%D0%A3%D1%8D%D1%81%D1%82%D0%B5%D1%80%D0%BD,+%D0%A3%D1%8D%D1%81%D1%82%D0%B5%D1%80%D0%BD,+%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA+13486,+%D0%A1%D0%A8%D0%90/@43.3423063,-75.3722601,15z/data=!3m1!4b1!4m5!3m4!1s0x89d9188abb764149:0xca152820345eb761!8m2!3d43.3422916!4d-75.3635053?hl=ru" class="NW">North West</a>,
                       <a href="https://www.google.com.ua/maps/place/South+St,+New+York,+NY,+%D0%A1%D0%A8%D0%90/@40.7074557,-74.0032291,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a3aea267a25:0x62bd5f4bb9502c53!8m2!3d40.7074517!4d-74.0010404?hl=ru" class="NY">South New Work</a>,
                        <a href="https://www.google.com.ua/maps/place/%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%A8%D1%82%D0%B0%D1%82%D1%8B+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@37.2756537,-104.6561154,5z/data=!3m1!4b1!4m5!3m4!1s0x54eab584e432360b:0x1c3bb99243deb742!8m2!3d37.09024!4d-95.712891?hl=ru" class="UT">United State</a></li>
                    <li class="location__tel"><a href="tel:+12462540569">+ 1 246-254-0569</a></li>
                  <li><a href="mailto:example@gmail.com" class="location__mail">example@gmail.com</a></li>
                  <li><a href="" class="location__network"><img src="@/assets/img/network.png" alt=""></a></li>
                  </ul>
                </div>

              <div class="footer__links links">
                <div class="footer__resources resources">
                  <h3 class="resources__title links__title">Resources</h3>
                  <ul class="resources__list links__list">
                    <li><a href="">Docs</a></li>
                    <li><a href="">Forums</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Join Discord</a></li>
                    <li><a href="">Consultants</a></li>

                  </ul>
                </div>

                <div class="footer__company company">
                  <h3 class="company__title links__title">Company</h3>
                  <ul class="company__list links__list">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Block Chain</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Condition</a></li>
                  </ul>
                </div>

                <div class="footer__legal legal">
                  <h3 class="legal__title links__title">Legal</h3>
                  <ul class="legal__list links__list">
                    <li><a href="">Terms of use</a></li>
                    <li><a href="">Privacy policy</a></li>
                    <li><a href="">GDPR/CCPA explained</a></li>
                    <li><a href="">Guidlines</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="footer__right icon-C">
            2021 Hello All right reserved.
          </div>
              </div>
            </div>
          </div>

  </footer>
</template>


<style lang="scss" scoped>
@import '@/assets/css/variables.scss';


.footer{
	position: relative;
	background: #130C3A;

}

.footer__body{
	padding: 150px 0 0 0;
}
.footer__body::before{
	content: '';
	position: absolute;
	background: url('~@/assets/img/footer-bg-1.png') top left no-repeat;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.footer__body::after{
	content: '';
	position: absolute;
	background: url('~@/assets/img/footer-bg-2.png') top right no-repeat;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	top: 0;
	right: 0;
	z-index: 1;
}
.footer__title{
	font-family: $fontCircular;
	font-weight: 900;
	@include adaptiv-font(72, 30);
	line-height: 85px;
	@include adaptiv-line-height(85, 40);
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}
.footer__form{
	font-family: $fontInter;
	margin-bottom: 150px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.footer__input{
	padding: 24px 30px;
	width: 100%;
	max-width: 528px;
	font-size: 22px;
	text-align: left;
	color: #444444;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px 0px 0px 10px;
  transition: all 0.6s ease 0s;

}
.footer__button{
	padding: 24px 50px;
	width: 100%;
	max-width: 221px;
	color: #fff;
	font-size: 22px;
	background: #0555FF;
	border-radius: 0px 10px 10px 0px;
	margin-left: -1px;
	white-space: nowrap;
	@extend %hoverButton;
	&:hover{
		background: #130C3A;
	}
}
.footer__columns{
	display: flex;
}

.footer__links{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	max-width: 100%;
}
.location{
	font-family: $fontInter;
}
.location__title{
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 33px;
}
.location__list{
  color: #7884A6;
}
.location__list li a {
	font-size: 16px;
	line-height: 28px;
	color: #7884A6;
	text-align: left;
	margin: 5px 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover{
    color: #fff;
  }

}

.location__network{
	margin-top: 17px;
}
.links__title{
	font-family: $fontCircular;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	margin-bottom: 4px;
}
.links__list{
	font-family: $fontInter;
	& li a{
		font-size: 16px;
		line-height: 42px;
		color: #7884A6;
		text-align: left;
		transition: all 0.3s ease 0s;
		&:hover{
			color: #0555FF;
		}
	}
}

@media (max-width: 605px) {
		.footer__form{
			flex-direction: column;
		}
		.footer__input{
			max-width: 100%;
			border-radius: 10px 10px 0 0;
			text-align: center;
		}
		.footer__button{
			width: 100%;
			max-width: 100%;
  border-radius: 0 0 10px 10px;
			margin-left: 0;
			margin-top: -1px;
		}
}
@media (max-width:790px) {
	.footer__columns{
		flex-direction: column;
	}
	.location{
		text-align: center;
		margin-bottom: 10px;
		.location__list li{
			text-align: center;
		}
	}
}
@media (max-width:615px) {
	.links{
		flex-direction: column;
		align-items: center;
	}
	.links__title, .links__list{
		text-align: center;
	}
	.company{
		margin: 15px 0;
	}
}
.footer__z-index{
	position: relative;
	z-index: 2;
  margin-bottom: 100px;
}
.footer__right{
	background: #0F0937;
  display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
  text-align: center;
  font-family: $fontRoboto;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.icon-C::before{
	margin-right: 10px;
}

</style>
<script>
import '@/assets/css/iconsfont.css'
export default{

}
</script>
