<template>
  <header class="header" v-bind:class="{ fixed: isFixed }">
    <div class="wrapper">
      <div class="container">
        <div class="header__body">
          <a href="" class="header__logo">HelloUI</a>

          <nav class="header__menu menu menu-hidden">
            <a
              href="https://www.youtube.com/watch?v=L_jWHffIx5E"
              class="menu__item menu__item-1 menu__sign"
              >Sign in</a
            >
            <router-link
              to="/"
              class="menu__item menu__item-0 menu__home menu__item-active"
              >Home</router-link
            >
            <router-link
              to="/streams"
              class="menu__item menu__item-1 menu__docs"
              >Streams</router-link
            >
            <router-link to="/tools" class="menu__item menu__item-2 menu__tools"
              >Tools</router-link
            >
            <router-link
              to="/freatures"
              class="menu__item menu__item-3 menu__freatures"
              >Freatures</router-link
            >
            <router-link
              to="/pricing"
              class="menu__item menu__item-4 menu__pricing"
              >Pricing</router-link
            >
            <router-link to="/jobs" class="menu__item menu__item-5 menu__jobs"
              >Jobs</router-link
            >
          </nav>

          <div class="header__actions">
            <a href="" class="header__sign">Sign in</a>
            <div href="" class="header__button">Try for Free</div>
          </div>
          <TheBurger />
        </div>
      </div>
    </div>
  </header>

  <router-view />
</template>
<script>
import TheBurger from "@/components/TheBurger";

export default {
  components: {
    TheBurger,
  },
  data() {
    return {
      isFixed: false,
    };
  },
  methods: {
    TheScroll: function () {
      if (window.pageYOffset > 40) {
        this.isFixed = true;
      } else {
        this.isFixed = false;
      }
    },
  },
  mounted() {
    addEventListener("scroll", this.TheScroll);
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/css/variables.scss";

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  margin-bottom: 122px;
  transition: all 0.3s ease 0s;
  overflow: visible;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header__logo {
  font-family: $fontRoboto;
  font-weight: 500;
  @include adaptiv-font(36, 24);
  line-height: 42px;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-family: $fontInter;
  font-size: 16px;
  line-height: 19px;
  color: #050038;
}

.menu__item {
  margin: 0 25px;
  position: relative;
  &::after {
    content: "";
    height: 2px;
    width: 0%;
    background: #0555ff;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.2s linear 0s;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.menu__item-active:after {
  content: "";
  height: 2px;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.menu__item-active:hover {
  &:after {
    background: #0555ff;
  }
}

.menu__sign {
  display: none;
}
.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sign {
  font-family: $fontRoboto;
  @include adaptiv-font(18, 15);
  line-height: 21px;
  color: #050038;
  margin-right: 17px;
}
.header__logo,
.header__sign,
.menu a {
  transition: all 0.3s ease 0s;
  &:hover {
    color: #0555ff;
  }
}
.header__button {
  padding: 13px 36px;
  font-family: $fontInter;
  color: #fff;
  font-weight: 500;
  @include adaptiv-font(18, 15);
  line-height: 22px;
  display: flex;
  align-items: center;
  background: #0555ff;
  border-radius: 30px;
  margin-left: 17px;
  cursor: pointer;
  @extend %hoverButton;
}

@media (max-width: 993px) {
  .header__burger {
    display: block;
  }
  .header__logo {
    margin-left: 55px;
  }
  .menu {
    display: none;
  }

  .header__body {
    padding: 15px 0;
  }

  .header__sign {
    display: none;
  }
}
.fixed {
  background: rgba(5, 85, 255, 0.67);
  .line {
    stroke: #fff;
    transition: all 0.3s ease 0s;
  }
  .burger__button {
    &:hover {
      .line {
        stroke: #000;
      }
    }
  }
  .header__logo,
  .header__sign,
  .menu a {
    color: #fff;

    &:hover {
      color: #000;
    }
  }
  .menu__item {
    &::after {
      background: #000;
    }
  }
  .menu__item-active:after {
    background: #fff;
  }
  .menu__item-active:hover {
    &:after {
      background: #000;
    }
  }
}

@media (max-width: 435px) {
  .header__button {
    padding: 13px 12px;
  }
  .header__sign {
    margin-left: 17px;
  }
}
</style>
