<template>
  <div class="languages">
    <div class="wrapper">
      <div class="container">
        <div class="languages__body">
          <h2 class="languages__title">Languages</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.languages__body {
  padding: 40px 50px;
}
.languages__title {
  font-size: 30px;
  text-align: center;
}
</style>