<template>
  <div class="maps">
    <div class="wrapper">
      <div class="container">
        <div class="maps__body">
          <h1 class="maps__title">Our map</h1>
          <div class="maps__main">
            <ol-map
              class="maps__map"
              :loadTilesWhileAnimating="true"
              :loadTilesWhileInteracting="true"
              ref="map"
            >
              <ol-view
                ref="view"
                :center="center"
                :rotation="rotation"
                :zoom="zoom"
                :projection="projection"
              />
              <ol-zoom-control v-if="zoomcontrol" />
              <ol-layerswitcherimage-control />

              <ol-tile-layer>
                <ol-source-osm />
              </ol-tile-layer>

              <ol-geolocation
                :projection="projection"
                @positionChanged="geoLocChange"
              >
                <template v-slot="slotProps">
                  <ol-vector-layer :zIndex="2">
                    <ol-source-vector>
                      <ol-feature ref="positionFeature">
                        <ol-geom-point
                          :coordinates="slotProps.position"
                        ></ol-geom-point>
                        <ol-style>
                          <ol-style-icon
                            :src="Icon"
                            :scale="0.05"
                            class="pointer"
                          >
                          </ol-style-icon>
                        </ol-style>
                      </ol-feature>
                    </ol-source-vector>
                  </ol-vector-layer>
                </template>
              </ol-geolocation>

              <ol-overlay
                @change="drawstart"
                v-for="(item, index) in numberMark"
                :key="item.mark"
                v-bind:class="'maps__news maps__news-' + item.mark"
                :position="coordsMark[index]"
              >
                <template v-slot="slotProps" @click="console.log(slotProps)">
                  <div class="overlay-content">
                    <div class="maps__news-input">
                      <h4 class="maps__news-title">Your new</h4>
                      <textarea
                        v-bind:class="'maps__text maps__text-' + item.mark"
                        @input="yourTextNew"
                      ></textarea>
                      <button
                        type="button"
                        class="maps__button"
                        @click="coordsMarkEnd"
                        v-on:click="addNote"
                      >
                        Publish
                      </button>
                    </div>
                  </div>
                </template>
              </ol-overlay>

              <ol-vector-layer>
                <ol-source-vector :projection="projection">
                  <ol-interaction-draw
                    v-if="drawEnable"
                    :type="drawType"
                    @drawend="drawend"
                    @drawstart="coordsMarkStart"
                  >
                  </ol-interaction-draw>
                </ol-source-vector>

                <ol-style>
                  <ol-style-fill
                    color="rgba(61, 168, 88, 0)"
                    style="display: none"
                  ></ol-style-fill>
                  <ol-style-circle :radius="6">
                    <ol-style-fill color="#5bc6d9" style="display: none">
                    </ol-style-fill>
                  </ol-style-circle>
                </ol-style>
              </ol-vector-layer>
            </ol-map>
            <div class="maps__notes">
              <h2 class="maps__notes-title">Your notes</h2>

              <div
                v-for="item in numberMark"
                :key="item.mark"
                v-bind:class="'maps__note maps__note-' + item.mark"
                style="margin-top: 15px"
              >
                <p
                  style="margin-bottom: 5px"
                  v-bind:class="'maps__note-date maps__note-date-' + item.mark"
                >
                  {{ ++item.mark }})
                </p>

                <div class="maps__note-actions">
                  <textarea
                    type="text"
                    v-bind:class="
                      'maps__note-text maps__note-text-' + --item.mark
                    "
                    v-bind:ns="item.mark"
                    v-model="newsText[item.mark]"
                  >
                  </textarea>
                  <label
                    ><button
                      class="maps__note-button"
                      @click="changeNote(item.mark)"
                    >
                      Изменить
                    </button></label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
import Icon from "@/assets/img/pin.png";
import { ref } from "vue";

export default {
  setup() {
    const center = ref([0, 0]);
    const projection = ref("EPSG:4326");
    const zoom = ref(8);
    const rotation = ref(0);
    const view = ref(null);
    const map = ref(null);
    const coordsMark = [-100, -100];
    let drawend;
    let drawstart;
    let n = 99;
    let newsText = [];
    let dateTime = [];
    let f = 0;
    const geoLocChange = (loc) => {
      view.value.fit([loc[0], loc[1], loc[0], loc[1]], {
        maxZoom: 0,
      });
    };

    let drawEnable = true;
    const drawType = ref("Point");

    const numberMark = [];

    const coordsMarkStart = (event) => {
      drawEnable = false;

      for (let index = 0; index < 2; index++) {
        coordsMark[n][index] = event.target.sketchCoords_[index];
      }

      --n;
    };
    const coordsMarkEnd = () => {
      ++n;

      document.querySelector(`.maps__news-` + n).innerHTML = `
        <div class="overlay-content" data-v-6a01e3db="">
         <p class="maps__mark maps__mark-${n}" data-v-6a01e3db=""> 
          ${newsText[n]}
         </p>
        </div>`;

      --n;
    };
    const yourTextNew = () => {
      ++n;
      newsText[n] = document.querySelector(".maps__text-" + n).value;
      --n;
    };

    return {
      center,
      projection,
      zoom,
      rotation,
      Icon,
      view,
      map,
      geoLocChange,
      zoomcontrol: true,
      drawEnable,
      drawType,
      coordsMark,
      coordsMarkStart,
      coordsMarkEnd,
      n,
      newsText,
      yourTextNew,
      numberMark,
      drawend,
      drawstart,
      dateTime,
      f,
    };
  },
  created() {
    for (let index = 99; index > -1; index--) {
      this.numberMark[index] = { mark: index };
      this.coordsMark[index] = [-100, -100];
      this.newsText[index] = "ничего";
      this.dateTime[index] = {
        date: new Date().toLocaleDateString(),
        time: new Date().toLocaleTimeString(),
      };
    }
  },
  methods: {
    addNote() {
      document.querySelector(
        ".maps__note-text-" + this.numberMark[this.f].mark
      ).value = this.newsText[this.n];
      document.querySelector(
        ".maps__note-" + this.numberMark[this.f].mark
      ).style.display = "block";

      document.querySelector(
        ".maps__note-date-" + this.numberMark[this.f].mark
      ).innerHTML += `  ${new Date().toLocaleTimeString()} ${new Date().toLocaleDateString()}`;

      this.f++;
      --this.n;
    },

    changeNote(s) {
      document.querySelector(".maps__mark-" + (99 - s)).innerHTML =
        document.querySelector(".maps__note-text-" + s).value;
    },
  },
};
</script>

//-----------------


<style lang="scss" scoped>
@import "@/assets/css/variables.scss";

.maps__body {
  padding: 125px 0;
}
.maps__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.maps__main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.maps__map {
  width: 100%;
  max-width: 100%;
  height: 700px;
  margin-right: 20px;
}
.maps__notes {
  width: 400px;
  max-width: 100%;
  background: #0555ff;
  border: 3px solid #0555ff;
  border-radius: 25px 0 0 25px;
  padding: 20px 15px;
  font-size: 20px;
  color: #fff;
  max-height: 700px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: rgba(#fff, 0);
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#3b6fe1, 1);
    border-radius: 10px;
  }
}
.maps__notes-title {
  text-align: center;
  font-size: 24px;
}
.maps__news-input {
  background: #fff;
  padding: 10px 15px;
  text-align: center;
  box-shadow: #333 0 0 4px;
}
.maps__news-title {
  font-size: 19px;
  margin-bottom: 5px;
}
.maps__text {
  padding: 2px 3px;
  border-bottom: 1px solid #333;
  margin-right: 3px;
  height: 100%;
  width: 250px;
  height: 75px;
}
.maps__button {
  background: #0555ff;
  border: 2px solid#0555ff;
  color: #fff;
  padding: 6px 4px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  &:hover {
    background: rgba(255, 255, 255, 0);
    color: #0555ff;
  }
}

.maps__mark {
  &::before {
    content: "";
    padding: 3px;
    background: #5bc6d9;
    border: 1px solid #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -6.9px;
    left: -6.9px;
    padding: 5.5px;
    transition: opacity 10s ease 1s;
    position: absolute;
  }
  overflow-y: scroll;
  transition: all 0.3s ease 0s, color 0.5s ease 0s;
  color: rgba(255, 255, 255, 0);
  font-size: 0px;
  width: 100%;
  max-width: 300px;
  word-wrap: break-word;
  max-height: 200px;

  &:hover {
    &::before {
      opacity: 0;
    }
    border-radius: 0%;
    padding: 10px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-width: 0;
    box-shadow: rgba(#0555ff, 0.3) 0 0 4px;
    bottom: 0px;
    right: 0px;
  }
  &::-webkit-scrollbar {
    background-color: rgba(#3b6fe1, 0.1);
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#3b6fe1, 0.5);
    border-radius: 5px;
  }
}
.maps__note {
  display: none;
}
.maps__note-actions {
  display: flex;
  justify-content: space-between;
}
.maps__note-text {
  resize: vertical;
  height: 50px;
  width: 100%;
  margin-right: 10px;
}
.maps__note-actions {
  width: 100%;
}
.maps__note-button {
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  margin-right: -10px;

  &:hover {
    background: #fff;
    color: #0555ff;
  }
  &:active {
    background: rgba(#002e91, 0.5);
    color: #ccc;
  }
}
</style>
