<template>
  <div class="page">
    <div class="wrapper">
      <div class="container">
        <div class="page__body">
          <div class="page__body-text">
            <h1 class="page__title">Grow up your sells with us.</h1>
            <p class="page__text">
              Build one project that runs natively on all your term now
              users' devices to turn for that you can do.
            </p>
          </div>

          <div class="page__body-buttons">
            <a href="" class="page__button page__button-1">Try for Free</a>
            <a href="" class="page__button page__button-2">Discover in Video</a>
          </div>

          <div class="page__body-img">
            <div class="page__img">
              <img src="@/assets/img/img-1.png" alt="" class="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>




<style lang="scss" scoped>
@import '@/assets/css/variables.scss';



.page__body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 150px 0 0 0;
}
.page__title{
	font-family: $fontCircular;
	font-weight: 900;
	@include adaptiv-font(96, 50);
	@include adaptiv-line-height(120, 50);
	text-align: center;
	color: #050038;
	margin-bottom: 35px;
}
.page__text{
	font-family: $fontInter;
	@include adaptiv-font(22, 16);
	@include adaptiv-line-height(32, 20);
	text-align: center;
	color: #5B5E6D;
	margin-bottom: 60px;
}
.page__body-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.page__button{
	padding: 20px 33px;
	background: #0555FF;
	border-radius: 30px;
	color: #fff;
	@extend %hoverButton;
	@media (max-width: 410px){
		padding: 20px 12px;
	}
}
.page__button-1{
	margin-right: 10px;
}
.page__button-2{
	margin-left: 10px;
}
.page__body-img{
	position: relative;
}
.page__img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page__img img{
	width: 100%;
	max-width: 90%;
	position: relative;
	z-index: 2;
}
.page__img:before,.page__img:after{
	content: '';
	position: absolute;
	top: 11%;
	z-index: 1;
}
.page__img:before{
	height: 539px;
	width: 131px;
	left: 0%;
    background: url('~@/assets/img/background-1.png') 0 0/cover no-repeat;

}
.page__img:after{
	height: 631px;
	width: 207px;
	right: 0%;
  background: url('~@/assets/img/background-2.png') 0 0/cover no-repeat;
}

</style>
