<template>
  <div class="player">
    <div class="wrapper">
      <div class="container">
        <div class="player__body">
          <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@vime/core@^5/themes/default.css"
          />
          <Player class="player__video">
            <!-- Provider component is placed here. -->
            <Video crossorigin="" poster="https://media.vimejs.com/poster.png">
              <!-- These are passed directly to the underlying HTML5 `<video>` element. -->
              <!-- Why `data-src`? Lazy loading, you can always use `src` if you prefer.  -->
              <source
                data-src="https://media.vimejs.com/720p.mp4"
                type="video/mp4"
              />
              <track
                default
                kind="subtitles"
                src="https://media.vimejs.com/subs/english.vtt"
                srclang="en"
                label="English"
              />
            </Video>
            <DefaultUi noClickToPlay>
              <!-- We can place our own UI components here to extend the default UI. -->
            </DefaultUi>
          </Player>
        </div>

        <div class="player__body">
          <Player class="player__video">
            <!-- Provider component is placed here. -->
            <Hls :config="hlsConfig" version="latest">
              <source
                data-src="https://s.live24x7.net/live/b417108076ec4042.m3u8"
                type="application/x-mpegURL"
              />
            </Hls>
            <DefaultUi noClickToPlay>
              <!-- We can place our own UI components here to extend the default UI. -->
            </DefaultUi>
          </Player>

          <videoVue />

          <vue-plyr ref="plyr" id="test" :options="playerOptions">
            <video data-plyr-config="{'autoplay': false}"></video>
          </vue-plyr>

          <video controls id="videoElement"></video>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import flvjs from "flv.js";

import "@vime/core/themes/light.css";
import videoVue from "@/components/Video.js.vue";
import { Player, DefaultUi, Video, Hls } from "@vime/vue-next";
import VuePlyr from "vue-plyr";

export default {
  components: {
    Player,
    DefaultUi,
    Video,
    Hls,
    videoVue,
    VuePlyr,
  },
  mounted() {
    if (flvjs.isSupported()) {
      var videoElement = document.getElementById("videoElement");
      var flvPlayer = flvjs.createPlayer({
        type: "flv",
        url: "https://s.live24x7.net/live/b417108076ec4042.flv",
      });
      flvPlayer.attachMediaElement(videoElement);
      flvPlayer.load();
      flvPlayer.play();
    }
  },
  data() {
    return {
      playerOptions: {
        controls: [
          "play-large",
          "play",
          "progress",
          "current-time",
          "mute",
          "volume",
          "settings",
          "fullscreen",
        ],
        settings: ["quality", "speed", "loop"],
      },
      source: "https://s.live24x7.net/live/b417108076ec4042.m3u8",
      hlsConfig: {},
      config: {
        url: "https://s.live24x7.net/live/b417108076ec4042.flv",
      },
      Player: null,
      videoOptions: {
        autoplay: true,
        controls: true,
        preload: "auto",
        sources: [
          {
            src: "https://s.live24x7.net/live/b417108076ec4042.flv",
          },
        ],
      },
    };
  },
  computed: {
    player() {
      console.log(this.$refs.plyr.player);
      return this.$refs.plyr.player;
    },
  },
};
</script>

<style lang="scss" scoped>
.player__video {
  width: 100px;
}
.player__body {
  margin: 10px 0;
}
#videoElement {
  position: relative;
  z-index: 1;
}
.div {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 10;
}
</style>