<template>
  <div class="streams">
    <div class="wrapper">
      <div class="container">
        <div class="streams__body">
          <div class="strapi-methods strapi">
            <div class="strapi__title">DELETE by category</div>
            <div
              class="strapi__item"
              v-for="category in categories"
              :key="category"
              @click="deleteByCategory(category.id)"
            >
              Delete stream by {{ category.attributes.title }}
            </div>
          </div>
          <h2 class="streams__title title">Streams</h2>
          <div class="streams__items" v-if="!edit">
            <div
              class="streams__item"
              v-for="stream in streams"
              :key="stream"
              :class="{
                active: stream.attributes.Active,
              }"
            >
              <div class="streams__title-stream">
                {{ stream.attributes.title }}
              </div>
              <div class="streams__text">
                {{ stream.attributes.description }}
              </div>
            </div>
          </div>
          <div class="streams__items" v-else>
            <div
              class="streams__item"
              v-for="stream in streams"
              :key="stream"
              :class="{
                active: stream.Active,
              }"
            >
              <div class="streams__title-stream">
                {{ stream.title }}
              </div>
              <div class="streams__text">{{ stream.description }}</div>
            </div>
          </div>
          <div class="start">
            <div class="start__title title">Start streaming</div>
            <div class="start__body">
              <input
                type="text"
                placeholder="Stream name"
                v-model="titleStream"
                class="start__input"
              />
              <div class="start__button" @click="StartStream">Start</div>
            </div>
            <div class="error" v-if="error">Stream not found</div>
          </div>

          <h2 class="streams__title title">Sign In</h2>

          <div class="signin__body">
            <div class="signin__item">
              <div class="signin__title">Email</div>
              <input class="signin__input" type="text" v-model="email" />

              <div class="signin__title">Password</div>
              <input class="signin__input" type="text" v-model="password" />

              <div class="signin__button" @click="signIn">Sign In</div>
            </div>
          </div>
          <h2 class="streams__title">Sockets</h2>
          <button @click="once">Socket emit.onse</button>

          <button @click="on1">Socket emit.on('on1')</button>
          <button @click="off">Socket off on1 ↑</button>

          <button @click="on2">Socket emit.on('on2')</button>
          <button @click="remove">Socket removeListener on2 ↑</button>

          <button @click="offAny">Socket offAny</button>
          <button @click="room">Socket room</button>
          <button @click="time">Socket timeout(5000)</button>
          <button @click="role">Socket with role Admin</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import "@/assets/swiper/swiper-bundle.css";
import { Swiper, SwiperSlide } from "@/assets/swiper/vue/swiper-vue.js";

// const { io } = require("socket.io-client");
// const socket = io("https://back.live24x7.net/");
// socket.on("connect", () => {
//   console.log();
//   socket.on("stream:find", (data) => {
//     console.log(data);
//   });
// });// Import Swiper Vue.js components

// Import Swiper styles
export default {
  сomponents: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      streams: [],
      password: "",
      email: "",
      jwt: "",
      titleStream: "",
      error: false,
      edit: false,
      categories: [],
    };
  },
  setup() {
    return {
      modules: [],
    };
  },
  methods: {
    deleteByCategory(id) {
      console.log(id);
      axios
        .delete("http://localhost:1337/api/deleteStreamsByCategory/" + id)
        .then(() => {
          axios
            .get("http://localhost:1337/api/streams?populate")
            .then((result) => {
              console.log(result.data.data);
              this.streams = result.data.data;
            });
        });
    },
    signIn() {
      console.log("sign in");
      axios
        .post("http://localhost:1337/api/auth/local", {
          identifier: this.email,
          password: this.password,
        })
        .then((r) => {
          localStorage.setItem("jwt", r.data.jwt);
          this.jwt = r.data.jwt;
        });
    },
    once() {
      this.$socket.client.emit("once");
    },
    on1() {
      this.$socket.client.emit("on1");
    },
    off() {
      this.$socket.client.emit("off");
    },
    on2() {
      this.$socket.client.emit("on2");
    },
    remove() {
      this.$socket.client.emit("remove");
    },
    offAny() {
      this.$socket.client.emit("offAny");
    },
    room() {
      this.$socket.client.emit("room", "test room");
    },
    time() {
      this.$socket.client.timeout(5000).emit("time", () => {
        console.log("timeout(5000)");
      });
    },

    role() {
      this.$socket.client.emit("with role", this.jwt);
    },
    StartStream() {
      this.error = false;

      axios
        .post("http://localhost:1337/api/StartStream", {
          title: this.titleStream,
        })
        .then(() => {
          axios
            .get("http://localhost:1337/api/streams?populate")
            .then((result) => {
              this.streams = result.data.data;
            });
        });
    },
  },
  mounted() {
    axios.get("http://localhost:1337/api/streams?populate").then((result) => {
      this.streams = result.data.data;
    });
    axios
      .get("http://localhost:1337/api/categories?populate")
      .then((result) => {
        this.categories = result.data.data;
      });
  },
};
</script>

<style lang="scss" scoped>
.streams {
  min-height: 500px;
}
.streams__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.streams__item {
  cursor: pointer;
  margin: 20px 0;
  background: rgb(0, 153, 255);
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.streams__title-stream {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.active {
  border: 2px solid red;
}
button {
  padding: 10px 15px;
  background: rgb(70, 70, 152);
  color: #fff;
  width: 300px;
  margin: 10px;
}
.signin__title {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: rgb(17, 70, 204);
  font-weight: bold;
}
.signin__input {
  padding: 10px;
  border: 2px solid rgb(17, 70, 204);
  color: rgb(17, 70, 204);
  border-radius: 10px;
}
.signin__button {
  padding: 10px 15px;
  background: rgb(17, 70, 204);
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}
.start__title {
  margin-bottom: 10px;
}
.start__body {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  & input {
    border: 2px solid rgb(17, 70, 204);
    padding: 10px 15px;
    font-size: 20px;
  }
  & .start__button {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgb(17, 70, 204);
    color: #fff;
    cursor: pointer;
  }
}
.error {
  color: rgb(226, 112, 112);
}
.strapi {
  position: absolute;
  top: 50%;
  left: 25%;
  padding: 15px;
  border: 2px solid rgb(17, 70, 204);
}
.strapi__title {
  font-size: 20px;
  margin-bottom: 20px;
}
.strapi__item {
  padding: 10px 5px;
  background: rgb(17, 70, 204);
  margin: 10px 0;
  color: #fff;
  cursor: pointer;
}
</style>
