<template>
  <div class="search">
    <div class="wrapper">
      <div class="container">
        <div class="search__body">
          <h2 class="search__title">Jobs</h2>
          <div class="search__main">
            <div
              class="search__filters-sidebar filters-sidebar"
              v-bind:class="{ active: isActive }"
            >
              <div class="filters-sidebar__body">
                <div class="filters-sidebar__reset filters-sidebar__item">
                  <h3 class="filters-sidebar__title-global">Сортировка</h3>
                  <button type="button" name="button" :onclick="resetAll">
                    Сбросить
                  </button>
                </div>
                <div class="filters-sidebar__salary filters-sidebar__item">
                  <h4 class="filters-sidebar__title">Зарплата</h4>
                  <div class="filters-sidebar__inputs">
                    <p class="filters-sidebar__select">
                      <input
                        class="
                          filters-sidebar__salary-max filters-sidebar__input
                        "
                        name="sortSalary"
                        type="radio"
                        @change="sortSalaryOfMax"
                      />По убыванию зарплаты
                    </p>
                    <p class="filters-sidebar__select">
                      <input
                        class="
                          filters-sidebar__salary-min filters-sidebar__input
                        "
                        name="sortSalary"
                        type="radio"
                        @change="sortSalaryOfMin"
                      />По возрастанию зарплаты
                    </p>
                  </div>
                </div>
                <div class="filters-sidebar__date filters-sidebar__item">
                  <h4 class="filters-sidebar__title">Дата публикации</h4>
                  <p class="filters-sidebar__select">
                    <input
                      class="filters-sidebar__date-new filters-sidebar__input"
                      name="sortDate"
                      type="radio"
                      @change="sortDateOfNew"
                    />От свежих публикаций
                  </p>
                  <p class="filters-sidebar__select">
                    <input
                      class="filters-sidebar__date-old filters-sidebar__input"
                      name="sortDate"
                      type="radio"
                      @change="sortDateOfOld"
                    />От старых публикаций
                  </p>
                </div>
                <div class="filters-sidebar__reset filters-sidebar__item">
                  <h3 class="filters-sidebar__title-global">Фильтры</h3>
                </div>
                <div class="filters-sidebar__schedule filters-sidebar__item">
                  <h4 class="filters-sidebar__title">График работы</h4>
                  <p class="filters-sidebar__select">
                    <input
                      class="
                        filters-sidebar__schedule-flexible
                        filters-sidebar__input
                      "
                      name="schedule"
                      type="checkbox"
                      @change="filtrFlexible"
                    />Гибкий график
                  </p>
                  <p class="filters-sidebar__select">
                    <input
                      class="
                        filters-sidebar__schedule-fullDay filters-sidebar__input
                      "
                      name="schedule"
                      type="checkbox"
                      @change="filtrFullDay"
                    />Полный день
                  </p>
                  <p class="filters-sidebar__select">
                    <input
                      class="
                        filters-sidebar__schedule-remote filters-sidebar__input
                      "
                      name="schedule"
                      type="checkbox"
                      @change="filtrRemote"
                    />Удаленая работа
                  </p>
                </div>
              </div>
            </div>
            <div class="search__list">
              <div class="search__form">
                <input
                  type="text"
                  name=""
                  placeholder="Поиск"
                  class="search__input-text"
                  v-model="searchText"
                  @input="search"
                />
              </div>
              <button
                type="button"
                name="button"
                class="search__button-filters"
                v-on:click="active"
              >
                Использовать фильтры
              </button>
              <div class="search__not-found" v-if="found == false">
                не найдено
              </div>
              <div class="search__job" v-for="item in job" :key="item.job">
                <div class="search__vacancy">
                  {{ item.name }}
                </div>
                <div class="search__salary">
                  <div>Зарплата:</div>
                  <div v-if="item.salary">
                    <div
                      class="search__salary-number"
                      v-if="item.salary.from && item.salary.to"
                    >
                      {{ item.salary.from }} - {{ item.salary.to }}
                      {{ item.salary.currency }}
                    </div>
                    <div
                      class="search__salary-number"
                      v-else-if="item.salary.from"
                    >
                      {{ item.salary.from }} {{ item.salary.currency }}
                    </div>
                    <div
                      class="search__salary-number"
                      v-else-if="item.salary.to"
                    >
                      {{ item.salary.to }} {{ item.salary.currency }}
                    </div>
                  </div>
                  <div v-else>Договорная</div>
                </div>
                <div class="search__date">
                  Опубликовано:
                  <input
                    type="data"
                    v-bind:value="item.published_at"
                    disabled
                  />
                </div>
                <div class="search__schedule">
                  Расписание: {{ item.schedule.name }}
                </div>
                <div class="search__description">
                  {{ item.snippet.requirement }}
                  {{ item.snippet.responsibility }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      job: [],
      searchText: "",
      jobCopy: [],
      id: [],
      found: true,
      jobsText: [],
      jobs: [],
      requirement: [],
      responsibility: [],
      description: [],
      radio1: "",
      radio2: "",
      published: [],
      dates: [],
      wrapper: "",
      isActive: false,
      about: [],
    };
  },
  methods: {
    notFound(element) {
      return element.includes(this.searchText);
    },
    allNone(element) {
      console.log(getComputedStyle(element).display == "none");
      return getComputedStyle(element).display == "none";
    },

    sortSalaryOfMax() {
      let jobsNumber = this.job.length;
      let radioSalaryMax = document.querySelector(
        ".filters-sidebar__salary-max"
      );
      this.searchText = this.searchText.toLowerCase();
      let radioDateNew = document.querySelector(".filters-sidebar__date-new");
      let radioDateOld = document.querySelector(".filters-sidebar__date-old");
      let i = 0;
      let f = 0;

      console.log(this.about);

      if (
        radioSalaryMax.checked &&
        radioDateNew.checked == false &&
        radioDateOld.checked == false
      ) {
        this.about.sort(function (a, b) {
          return b.salary - a.salary;
        });

        for (i = 0; i < jobsNumber; i++) {
          if (this.job[i].salary !== null) {
            if (this.about[f].id == this.job[i].id) {
              [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
              i = -1;
              f = ++f;
            } else if (this.about[f].id == this.job[i].id) {
              [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
              i = -1;
              f = ++f;
            }
          }
        }
      } else if (radioSalaryMax.checked && radioDateNew.checked) {
        this.sortSalaryMaxDateNew();
      } else if (radioSalaryMax.checked && radioDateOld.checked) {
        this.sortSalaryMaxDateOld();
      }

      this.filtrFlexible();
      this.filtrFullDay();
    },

    sortSalaryOfMin() {
      let jobsNumber = this.job.length;
      let radioSalaryMin = document.querySelector(
        ".filters-sidebar__salary-min"
      );
      let radioDateNew = document.querySelector(".filters-sidebar__date-new");
      let radioDateOld = document.querySelector(".filters-sidebar__date-old");
      this.searchText = this.searchText.toLowerCase();
      let f = 0;
      let i = 0;
      if (
        radioSalaryMin.checked &&
        radioDateNew.checked == false &&
        radioDateOld.checked == false
      ) {
        this.about.sort(function (a, b) {
          return a.salary - b.salary;
        });

        for (let p = 0; i < jobsNumber; i++) {
          if (this.about[i].salary != null) {
            [this.about[i], this.about[p]] = [this.about[p], this.about[i]];
            ++p;
          }
        }

        for (let i = 0; i < jobsNumber; i++) {
          if (this.job[i].salary !== null) {
            if (this.about[f].id == this.job[i].id) {
              [this.job[f], this.job[i]] = [this.job[i], this.job[f]];
              i = -1;
              f = ++f;
            } else if (this.about[f].id == this.job[i].id) {
              [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
              i = -1;
              f = ++f;
            }
          }
        }
      } else if (radioSalaryMin.checked && radioDateNew.checked) {
        this.sortSalaryMinDateNew();
      } else if (radioSalaryMin.checked && radioDateOld.checked) {
        this.sortSalaryMinDateOld();
      }

      this.filtrFlexible();
      this.filtrFullDay();
    },
    sortDateOfNew() {
      let jobsNumber = this.job.length;
      let f = 0;
      let radioSalaryMax = document.querySelector(
        ".filters-sidebar__salary-max"
      );
      let radioSalaryMin = document.querySelector(
        ".filters-sidebar__salary-min"
      );
      let radioDateNew = document.querySelector(".filters-sidebar__date-new");
      if (
        radioDateNew.checked &&
        radioSalaryMax.checked == false &&
        radioSalaryMin.checked == false
      ) {
        this.about.sort(function (a, b) {
          let dateA = new Date(a.published);
          let dateB = new Date(b.published);
          return dateB - dateA;
        });
        console.log(this.about);

        for (let i = 0; i < jobsNumber && f < jobsNumber; i++) {
          if (this.about[f].id == this.job[i].id) {
            [this.job[f], this.job[i]] = [this.job[i], this.job[f]];
            i = -1;
            f = ++f;
          }
        }
        f = 0;
      } else if (radioDateNew.checked && radioSalaryMax.checked) {
        this.sortSalaryMaxDateNew();
      } else if (radioDateNew.checked && radioSalaryMin.checked) {
        this.sortSalaryMinDateNew();
      }
    },
    sortDateOfOld() {
      let jobsNumber = this.job.length;
      let f = 0;
      let radioSalaryMax = document.querySelector(
        ".filters-sidebar__salary-max"
      );
      let radioSalaryMin = document.querySelector(
        ".filters-sidebar__salary-min"
      );
      let radioDateOld = document.querySelector(".filters-sidebar__date-old");

      if (
        radioDateOld.checked &&
        radioSalaryMax.checked == false &&
        radioSalaryMin.checked == false
      ) {
        this.about.sort(function (a, b) {
          let dateA = new Date(a.published);
          let dateB = new Date(b.published);
          return dateA - dateB;
        });
        for (let i = 0; i < jobsNumber && f < jobsNumber; i++) {
          if (this.about[f].id == this.job[i].id) {
            [this.job[f], this.job[i]] = [this.job[i], this.job[f]];
            i = -1;
            f = ++f;
          }
        }
        f = 0;
      } else if (radioDateOld.checked && radioSalaryMax.checked) {
        this.sortSalaryMaxDateOld();
      } else if (radioDateOld.checked && radioSalaryMin.checked) {
        this.sortSalaryMinDateOld();
      }

      this.filtrFlexible();
      this.filtrFullDay();
    },
    sortSalaryMaxDateNew() {
      let f = 0;
      let i = 0;
      let jobsNumber = this.job.length;

      this.about.sort(function (a, b) {
        if (a.salary > b.salary) return -1;
        if (a.salary < b.salary) return 1;
        if (a.published > b.published) return -1;
        if (a.published < b.published) return 1;

        return 0;
      });

      for (let p = 0; i < jobsNumber; i++) {
        if (this.about[i].salary != null) {
          [this.about[i], this.about[p]] = [this.about[p], this.about[i]];
          ++p;
        }
      }
      console.log(this.about);

      for (let i = 0; i <= jobsNumber - 1; i++) {
        if (this.about[f] !== undefined) {
          if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          } else if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          }
        }
      }
      f = 0;

      this.filtrFlexible();
      this.filtrFullDay();
    },

    sortSalaryMaxDateOld() {
      let f = 0;
      let i = 0;
      let jobsNumber = this.job.length;

      this.about.sort(function (a, b) {
        if (a.salary > b.salary) return -1;
        if (a.salary < b.salary) return 1;
        if (a.published > b.published) return 1;
        if (a.published < b.published) return -1;

        return 0;
      });

      for (let p = 0; i < jobsNumber; i++) {
        if (this.about[i].salary != null) {
          [this.about[i], this.about[p]] = [this.about[p], this.about[i]];
          ++p;
        }
      }
      console.log(this.about);

      for (let i = 0; i <= jobsNumber - 1; i++) {
        if (this.about[f] !== undefined) {
          if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          } else if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          }
        }
      }
      f = 0;

      this.filtrFlexible();
      this.filtrFullDay();
    },
    sortSalaryMinDateNew() {
      let f = 0;
      let i = 0;
      let jobsNumber = this.job.length;

      this.about.sort(function (a, b) {
        if (a.salary > b.salary) return 1;
        if (a.salary < b.salary) return -1;
        if (a.published > b.published) return -1;
        if (a.published < b.published) return 1;

        return 0;
      });

      for (let p = 0; i < jobsNumber; i++) {
        if (this.about[i].salary != null) {
          [this.about[i], this.about[p]] = [this.about[p], this.about[i]];
          ++p;
        }
      }

      for (let i = 0; i <= jobsNumber - 1; i++) {
        if (this.about[f] !== undefined) {
          if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          } else if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          }
        }
      }
      f = 0;

      this.filtrFlexible();
      this.filtrFullDay();
    },

    sortSalaryMinDateOld() {
      let f = 0;
      let i = 0;
      let jobsNumber = this.job.length;

      this.about.sort(function (a, b) {
        if (a.salary > b.salary) return 1;
        if (a.salary < b.salary) return -1;
        if (a.published > b.published) return 1;
        if (a.published < b.published) return -1;

        return 0;
      });

      for (let p = 0; i < jobsNumber; i++) {
        if (this.about[i].salary != null) {
          [this.about[i], this.about[p]] = [this.about[p], this.about[i]];
          ++p;
        }
      }

      for (let i = 0; i <= jobsNumber - 1; i++) {
        if (this.about[f] !== undefined) {
          if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          } else if (this.about[f].id == this.job[i].id) {
            [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
            i = -1;
            f = ++f;
          }
        }
      }
      f = 0;

      this.filtrFlexible();
      this.filtrFullDay();
    },

    filtrFlexible() {
      let checkbox1 = document.querySelector(
        ".filters-sidebar__schedule-flexible"
      );
      let checkbox2 = document.querySelector(
        ".filters-sidebar__schedule-fullDay"
      );
      let checkbox3 = document.querySelector(
        ".filters-sidebar__schedule-remote"
      );
      let jobsNumber = this.job.length;

      if (checkbox1.checked && checkbox2.checked && checkbox3.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "block";
        }
        this.search();
      } else if (checkbox1.checked && checkbox2.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "none";
          if (
            this.job[i].schedule.id == "flexible" ||
            this.job[i].schedule.id == "fullDay"
          ) {
            this.jobs[i].style.display = "block";
          }
        }
        this.search();
      } else if (checkbox1.checked && checkbox3.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "none";
          if (
            this.job[i].schedule.id == "flexible" ||
            this.job[i].schedule.id == "remote"
          ) {
            this.jobs[i].style.display = "block";
          }
        }
        this.search();
      } else if (checkbox1.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          if (
            this.job[i].schedule.id == "fullDay" ||
            this.job[i].schedule.id == "remote"
          ) {
            this.jobs[i].style.display = "none";
          }
        }
      } else if (checkbox2.checked) {
        this.filtrFullDay();
      } else if (checkbox3.checked) {
        this.filtrRemote();
      } else {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "block";
        }
        checkbox1.checked = false;
        this.search();
      }
    },

    filtrFullDay() {
      let checkbox1 = document.querySelector(
        ".filters-sidebar__schedule-flexible"
      );
      let checkbox2 = document.querySelector(
        ".filters-sidebar__schedule-fullDay"
      );
      let checkbox3 = document.querySelector(
        ".filters-sidebar__schedule-remote"
      );

      let jobsNumber = this.job.length;

      if (checkbox1.checked && checkbox2.checked && checkbox3.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "block";
        }
      } else if (checkbox2.checked && checkbox1.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "none";
          if (
            this.job[i].schedule.id == "fullDay" ||
            this.job[i].schedule.id == "flexible"
          ) {
            this.jobs[i].style.display = "block";
          }
        }
        this.search();
      } else if (checkbox2.checked && checkbox3.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "none";
          if (
            this.job[i].schedule.id == "fullDay" ||
            this.job[i].schedule.id == "remote"
          ) {
            this.jobs[i].style.display = "block";
          }
        }
        this.search();
      } else if (checkbox2.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          if (
            this.job[i].schedule.id == "flexible" ||
            this.job[i].schedule.id == "remote"
          ) {
            this.jobs[i].style.display = "none";
          }
        }
      } else if (checkbox1.checked) {
        this.filtrFlexible();
      } else if (checkbox3.checked) {
        this.filtrRemote();
      } else {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "block";
        }
        checkbox2.checked = false;
        this.search();
      }
    },

    filtrRemote() {
      let checkbox1 = document.querySelector(
        ".filters-sidebar__schedule-flexible"
      );
      let checkbox2 = document.querySelector(
        ".filters-sidebar__schedule-fullDay"
      );
      let checkbox3 = document.querySelector(
        ".filters-sidebar__schedule-remote"
      );

      let jobsNumber = this.job.length;

      if (checkbox1.checked && checkbox2.checked && checkbox3.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "block";
        }
      } else if (checkbox3.checked && checkbox1.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "none";
          if (
            this.job[i].schedule.id == "remote" ||
            this.job[i].schedule.id == "flexible"
          ) {
            this.jobs[i].style.display = "block";
          }
        }
        this.search();
      } else if (checkbox3.checked && checkbox2.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "none";
          if (
            this.job[i].schedule.id == "remote" ||
            this.job[i].schedule.id == "fullDay"
          ) {
            this.jobs[i].style.display = "block";
          }
          this.search();
        }
      } else if (checkbox3.checked) {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          if (
            this.job[i].schedule.id == "flexible" ||
            this.job[i].schedule.id == "fullDay"
          ) {
            this.jobs[i].style.display = "none";
          }
        }
      } else if (checkbox1.checked) {
        this.filtrFlexible();
      } else if (checkbox2.checked) {
        this.filtrFullDay();
      } else {
        for (let i = 0; i < jobsNumber; i++) {
          this.jobs[i] = document.getElementsByClassName("search__job")[i];
          this.jobs[i].style.display = "block";
        }
        checkbox3.checked = false;
        this.search();
      }
    },

    active() {
      if (this.isActive == false) {
        this.isActive = true;
        document.documentElement.style.overflow = "hidden";
      } else {
        this.isActive = false;
        document.documentElement.style.overflow = "auto";
      }
    },

    search() {
      let checkboxFlexible = document.querySelector(
        ".filters-sidebar__schedule-flexible"
      );
      let checkboxFullDay = document.querySelector(
        ".filters-sidebar__schedule-fullDay"
      );
      let checkboxRemote = document.querySelector(
        ".filters-sidebar__schedule-remote"
      );

      this.searchText = this.searchText.toLowerCase();
      let jobsNumber =
        document.getElementsByClassName("search__vacancy").length;
      for (var i = 0; i < jobsNumber; i++) {
        this.jobsText[i] = document
          .getElementsByClassName("search__vacancy")[i].innerHTML.toLowerCase();
        this.description[i] = document
          .getElementsByClassName("search__description")[i].innerHTML.toLowerCase();
        this.jobs[i] = document.getElementsByClassName("search__job")[i];
        this.jobs[i].style.display = "none";
        if (
          this.jobsText[i].includes(this.searchText) === true ||
          this.description[i].includes(this.searchText) === true
        ) {
          this.jobs[i].style.display = "block";
          this.found = true;
        } else if (
          this.jobsText.some(this.notFound) == false &&
          this.description.some(this.notFound) == false
        ) {
          this.found = false;
        }
        console.log(this.jobsText[i]);
      }
      if (
        checkboxFlexible.checked &&
        checkboxFullDay.checked == false &&
        checkboxRemote.checked == false
      ) {
        this.filtrFlexible();
      } else if (
        checkboxFullDay.checked &&
        checkboxFlexible.checked == false &&
        checkboxRemote.checked == false
      ) {
        this.filtrFullDay();
      } else if (
        checkboxRemote.checked &&
        checkboxFlexible.checked == false &&
        checkboxFullDay.checked == false
      ) {
        this.filtrRemote();
      }
    },

    resetAll() {
      let input = [];
      let f = 0;
      let jobsNumber = this.job.length;

      for (let i = 0; i < 7; i++) {
        input[i] = document.getElementsByClassName("filters-sidebar__input")[i];
        console.log(input[i]);
        input[i].checked = false;
      }

      for (let i = 0; i < jobsNumber; i++) {
        if (this.id[f] == this.job[i].id) {
          [this.job[i], this.job[f]] = [this.job[f], this.job[i]];
          console.log(1);
          f = ++f;
          i = -1;
        }
      }

      this.filtrRemote();
      this.filtrFlexible();
      this.filtrFullDay();
    },
  },

  created() {
    axios({
      method: "GET",
      url: "https://api.hh.ru/vacancies?text=java&area=1&metro=6.8",
    })
      .then((response) => {
        this.job = response.data.items;
        let jobsNumber = this.job.length;

        for (var i = 0; i <= jobsNumber - 1; i++) {
          this.id[i] = this.job[i].id;
          this.requirement[i] = this.job[i].snippet.requirement;
          this.responsibility[i] = this.job[i].snippet.responsibility;
          if (
            (this.job[i].snippet.requirement !== null &&
              this.job[i].snippet.requirement.includes("<highlighttext>")) ||
            (this.job[i].snippet.responsibility !== null &&
              this.job[i].snippet.responsibility.includes("<highlighttext>"))
          ) {
            if (
              this.job[i].snippet.requirement !== null &&
              this.job[i].snippet.responsibility !== null
            ) {
              this.requirement[i] = this.requirement[i].replace(
                /<highlighttext>/g,
                ""
              );
              this.job[i].snippet.requirement = this.requirement[i].replace(
                /<\/highlighttext>/g,
                ""
              );
              this.responsibility[i] = this.responsibility[i].replace(
                /<highlighttext>/g,
                ""
              );
              this.job[i].snippet.responsibility = this.responsibility[
                i
              ].replace(/<\/highlighttext>/g, "");
            } else if (
              this.job[i].snippet.requirement !== null &&
              this.job[i].snippet.responsibility == null
            ) {
              this.requirement[i] = this.requirement[i].replace(
                /<highlighttext>/g,
                ""
              );
              this.job[i].snippet.requirement = this.requirement[i].replace(
                /<\/highlighttext>/g,
                ""
              );
            } else if (
              this.job[i].snippet.requirement == null &&
              this.job[i].snippet.responsibility !== null
            ) {
              this.responsibility[i] = this.responsibility[i].replace(
                /<highlighttext>/g,
                ""
              );
              this.job[i].snippet.responsibility = this.responsibility[
                i
              ].replace(/<\/highlighttext>/g, "");
            }
          }
          this.description[i] =
            this.job[i].snippet.requirement +
            this.job[i].snippet.responsibility;
          this.published[i] = this.job[i].published_at;
          this.published[i] = this.published[i].replace(
            this.published[i].slice(19),
            ""
          );
          this.published[i] = this.published[i].replace(/T/g, " ");
          response.data.items[i].published_at = this.published[i];

          if (this.job[i].salary !== null) {
            if (this.job[i].salary.from !== null) {
              this.about[i] = {
                salary: this.job[i].salary.from,
                published: this.published[i],
                id: this.job[i].id,
              };
            } else if (this.job[i].salary.to !== null) {
              this.about[i] = {
                salary: this.job[i].salary.to,
                published: this.published[i],
                id: this.job[i].id,
              };
            }
          } else {
            this.about[i] = {
              salary: null,
              published: this.published[i],
              id: this.job[i].id,
            };
          }
        }
      })
      .catch(function (error) {
        console.error(error);
      });
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/variables.scss";
.search__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontInter;
  padding-bottom: 50px;
}
.search__title {
  font-size: 29px;
  margin-bottom: 20px;
}
.search__main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.filters-sidebar {
  width: 30%;
  border: 4px solid #0555ff;
  border-radius: 15px;
  margin-right: 10px;
  background: rgba(#0555ff, 0.85);
  color: #fff;
  padding: 20px 15px;
  position: relative;
}
.filters-sidebar__body {
  position: sticky;
  top: 0;
}
.search__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.filters-sidebar__item {
  border: 2px solid rgba(#130c39, 0.5);
  border-width: 0 0 2px 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filters-sidebar__reset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-width: 0 0 2px 0;
  & button {
    color: #fff;
    padding: 10px 13px;
    background: rgba(#130c39, 0.8);
    border: 3px solid rgba(#130c39, 0.7);
    border-radius: 10px;
    transition: all 0.3s linear 0s;
    font-size: 15px;
    &:hover {
      background: rgba(#130c39, 0);
    }
  }
}
.filters-sidebar__title-global {
  font-size: 18px;
}
.filters-sidebar__title {
  font-size: 18px;
  margin-bottom: 10px;
}
.filters-sidebar__select {
  margin: 5px 0;
}
.filters-sidebar__input {
  margin-right: 3px;
}
.filters-sidebar__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search__form {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #fff;
  border: 3px solid #0555ff;
  border-radius: 50px;
  margin-bottom: 20px;
  & * {
    background: #fff;
    color: #000;
  }
  .search__input-text {
    display: inline-flex;
    flex-direction: column;
    border: 0 solid rgba(#0555ff, 0.7);
    border-width: 0 0 2px 0;
    font-size: 20px;
    width: 100%;
  }
  .search__button {
    margin-left: 10px;
    background: rgba(#130c39, 0.8);
    border: 3px solid rgba(#130c39, 0.7);
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s ease 0s;
    &:hover {
      background: #fff;
      color: rgba(#130c39, 0.8);
    }
  }
}
.search__sort {
  padding: 10px;
  background: rgba(#0555ff, 0.7);
  border: 2px solid rgba(#0555ff, 0.7);
  color: #fff;
  border-radius: 20px;
  transition: all 0.4s ease 0s;
  &:hover {
    background: #fff;
    color: #333;
  }
}
.search__job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  text-align: left;
  border-radius: 25px;
  border: 3px solid #0555ff;
  background: #fff;
  transition: all 0.4s ease 0s;
  color: #000;
  margin: 10px 0;
  cursor: pointer;
  &:hover {
    background: #0555ff;
    color: #fff;
    .search__date {
      & input {
        color: #fff;
      }
    }
  }
}
.search__date-input {
  & input {
    transition: all 0.4s ease 0s;
    background: rgba(255, 255, 255, 0);
  }
  & input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}
.search__vacancy {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 25px;
  &:hover {
    text-decoration: underline;
  }
}
.search__salary {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  & div:nth-child(1) {
    margin-right: 5px;
  }
  .search__salary-number {
    display: flex;
  }
}
.search__date {
  & input {
    transition: all 0.4s ease 0s;
    background: rgba(255, 255, 255, 0);
  }
}
.search__schedule {
  margin: 4px 0;
  font-size: 15px;
}
.search__description {
  font-size: 18px;
  line-height: 20px;
  position: relative;
  max-height: 200px;
  max-width: 100%;
  overflow: hidden;
}
.search__not-found {
  font-size: 30px;
  margin-top: 30px;
}
.search__button-filters {
  display: none;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  border: 3px solid #0555ff;
  border-radius: 5px;
  transition: all 0.4s linear 0s;
  &:hover {
    background: #0555ff;
    color: #fff;
  }
}
@media (max-width: 1300px) {
  .search__main {
    flex-direction: column;
  }
  .filters-sidebar {
    padding-top: 100px;
    position: fixed;
    height: 100%;
    width: 300px;
    transition: all 0.4s ease 0s, border-radius 0.8s ease 0s;
    z-index: 10;
    top: 0;
    right: -100%;
  }
  .filters-sidebar__body {
    position: relative;
  }
  .filters-sidebar__title-global {
    margin-right: 10px;
  }
  .search__button-filters {
    display: block;
  }
  .active {
    right: -3%;
  }
}
</style>
