<template>
  <div class="twitter">
    <div class="wrapper">
      <div class="container">
        <div class="twitter__body">
          <p class="twitter__text">
            Over 2000 businesses, marketers and creatives use Suparise to grow their Instagram.
          </p>
          <h2 class="twitter__title">Don’t just take our word for it</h2>

          <div class="twitter__comments">
            <div class="twitter__comment comment comment-1">
              <div class="account">
                <div class="avatar">
                  <img src="@/assets/img/avatar-1.png" alt="">
                </div>
                <div class="comment__data">
                  <a href="" class="comment__nickname">Lisa Miller <img src="@/assets/img/official.png" alt="" class="comment__official"></a>
                  <a href="" class="comment__name-account">@LisaMillerCool</a>
                </div>
              </div>
                <p class="comment__text comment__text-1">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <p class="comment__text comment__text-2">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <div class="twitter__logo"><img src="@/assets/img/twitter.png" alt=""></div>
            </div>

            <div class="twitter__comment comment comment-2">
              <div class="account">
                <div class="avatar">
                  <img src="@/assets/img/avatar-2.png" alt="">
                </div>
                <div class="comment__data">
                  <a href="" class="comment__nickname">Bri <img src="@/assets/img/official.png" alt="" class="comment__official"></a>
                  <a href="" class="comment__name-account">@BriDehlinger</a>
                </div>
              </div>
                <p class="comment__text comment__text-1">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>



                <div class="twitter__logo"><img src="@/assets/img/twitter.png" alt=""></div>
            </div>

            <div class="twitter__comment comment comment-3">
              <div class="account">
                <div class="avatar">
                  <img src="@/assets/img/avatar-3.png" alt="">
                </div>
                <div class="comment__data">
                  <a href="" class="comment__nickname">CarolMcKeon <img src="@/assets/img/official.png" alt="" class="comment__official"></a>
                  <a href="" class="comment__name-account">@LisaMillerCool</a>
                </div>
              </div>
                <p class="comment__text comment__text-1">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <p class="comment__text comment__text-2">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out.
                </p>

                <div class="twitter__logo"><img src="@/assets/img/twitter.png" alt=""></div>
            </div>

            <div class="twitter__comment comment comment-4">
              <div class="account">
                <div class="avatar">
                  <img src="@/assets/img/avatar-4.png" alt="">
                </div>
                <div class="comment__data">
                  <a href="" class="comment__nickname">Wes Johnson<img src="@/assets/img/official.png" alt="" class="comment__official"></a>
                  <a href="" class="comment__name-account">@LisaMillerCool</a>
                </div>
              </div>
                <p class="comment__text comment__text-1">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <div class="twitter__logo"><img src="@/assets/img/twitter.png" alt=""></div>
            </div>

            <div class="twitter__comment comment comment-5">
              <div class="account">
                <div class="avatar">
                  <img src="@/assets/img/avatar-5.png" alt="">
                </div>
                <div class="comment__data">
                  <a href="" class="comment__nickname">Lisa Miller <img src="@/assets/img/official.png" alt="" class="comment__official"></a>
                  <a href="" class="comment__name-account">@LisaMillerCool</a>
                </div>
              </div>
                <p class="comment__text comment__text-1">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <p class="comment__text comment__text-2">
                  It’s difficult to make a tool that is powerful, easy video
                  to use.
                </p>

                <div class="twitter__logo"><img src="@/assets/img/twitter.png" alt=""></div>
            </div>

            <div class="twitter__comment comment comment-6">
              <div class="account">
                <div class="avatar">
                  <img src="@/assets/img/avatar-6.png" alt="">
                </div>
                <div class="comment__data">
                  <a href="" class="comment__nickname">Traver<img src="@/assets/img/official.png" alt="" class="comment__official"></a>
                  <a href="" class="comment__name-account">@LisaMillerCool</a>
                </div>
              </div>
                <p class="comment__text comment__text-1">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <p class="comment__text comment__text-2">
                  It’s difficult to make a tool that is powerful, easy video
                  to use, and stays out of the way. @expo has student
                  figured it out and it’s one of the most and they want to
                  pleasurable dev experiences I’ve had in my seen that
                  career goal.
                </p>

                <div class="twitter__logo"><img src="@/assets/img/twitter.png" alt=""></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
@import '@/assets/css/variables.scss';

.twitter{
	background: #F8F8FA;
}
.twitter__body{
	padding: 150px 0;
	text-align: center;
	font-family: $fontInter;
}
.twitter__text{
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #5B5E6D;
	margin-bottom: 20px;
}
.twitter__title{
	font-family: $fontCircular;
	font-weight: 900;
	@include adaptiv-font(72, 39);
	color: #050038;
	width: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}
.twitter__comments{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
}
.comment{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 420px;
	max-height: 100%;
	position: relative;
	padding: 20px;
	background: #fff;
	font-family: $fontInter;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 10px;
}
.account{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 15px;
}
.avatar{
	margin-right: 10px;
}
.comment__data{
	display: flex;
	flex-direction: column;
}
.comment__nickname{
	font-family: $fontCircular;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #050038;
	display: flex;
	align-items: center;
}
.comment__official{
	margin-left: 5px;
}
.comment__name-account{
	font-size: 16px;
	line-height: 24px;
	color: #596068;
}
.comment__text{
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: #050038;
}
.comment__text-1{
	margin-bottom: 30px;
}
.twitter__logo{
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 32px;
}
@media (max-width: 1000px) {
 .twitter__comments{
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 675px) {
 .twitter__comments{
   display: flex;
   flex-direction: column;
   align-items: center;

	}
}
</style>
