<template>
  <div>
    <video ref="videoPlayer" class="video-js"></video>
  </div>
</template>



<script>
import videojs from "video.js";
import "videojs-fetch-flv";
import "videojs-fetch-flv/dist/videojs-fetch-flv.css";
import "video.js/dist/video-js.css";

export default {
  name: "VideoPlayer",
  props: {
    options: {
      type: Object,

      default() {
        return {};
      },
    },
  },
  data() {
    return {
      player: null,
    };
  },
  mounted() {
    this.player = videojs(this.$refs.videoPlayer, this.options);
    this.player.fetchFlv({
      isLive: true,
      sources: {
        src: "https://s.live24x7.net/live/b417108076ec4042.flv",
      },
    });
    console.log(this.player);
  },
};
</script>

<style scoped lang="scss">
.video-js {
  width: 100%;
  height: 600px;
}
.vjs-big-play-button {
  top: 50%;
  left: 50%;
}
</style>