<template>
  <div id="app">
    <TheHeader />
    <TheFooter />
  </div>
</template>



<script>
import "@/assets/css/style.scss";

import TheHeader from "@/components/TheHeader";
import TheFooter from "@/components/TheFooter";

export default {
  name: "app",
  components: {
    TheHeader,
    TheFooter,
  },
  sockets: {
    connect() {
      console.log("connect");
      this.$socket.client.on("chat-message:create", () => {
        this.$store.state.chat = !this.$store.state.chat;
      });
    },
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
button {
  background: blue;
  color: #fff;
}
</style>>

